/*
CONTENT:
    Font families ---
    Font sizes  ---
    Root elements ---
    Navbar ---
    Headers ---
    Paragraph elements ---
    Stream navigation ---
    Images & video ---
    Footnotes ---
    Dividers ---
    Tables ---
    Buttons ---
    Positioning & showing ---
    Title ---
    Page Footer ---
    Anchors ---
    Default color scheme ---
*/

/* FONTS FAMILIES ------------------------------------------------------------------- */

/* Font Families (input and textarea explicitly included to fix Windows issues) */
html, input, textarea {
    font-family: "Avenir Next", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-smoothing: antialiased;
}
h1, h2, h3, h4, h5, h6, time, #page-footer {
    font-family: "Adelle Sans", "Trebuchet MS", Helvetica, sans-serif;
}

/* FONT SIZES ------------------------------------------------------------------- */

/* Weights, kerning, etc. */
html {
    -webkit-font-smoothing: antialiased;
}
input, textarea {
    /* Better experience for user while entering text */
    letter-spacing: 1px !important;
}
menu ul {
    letter-spacing: 0.1px;
}
figcaption {
    letter-spacing: 0.0625em;
}
h2, h3,
table th, strong {
    font-weight: bold;
}
blockquote, em {
    font-style: italic;
}


/* Sizes */
h1 { /* Page Headers */
    font-size: 45px;
    line-height: 32px;
}
h2 { /* Post Titles */
    font-size: 28px;
    line-height: 24px;
}
h3, h4, h5, menu ul {
    font-size: 19px;
}
    h3, menu ul {
        line-height: 19px;
    }
    h4 {
        line-height: 31px;
    }
    h5 {
        line-height: 23px;
    }
time,
p, blockquote, ol, ul,
table, #page-footer-text span {
    font-size: 14px;
}
    #archive-list {
        line-height: 14px;
    }
    time,
    p, blockquote, ol, ul,
    table, #page-footer-text span {
        line-height: 22px;
    }
.footnotes ol li p,
.footnotes ol,
figcaption,
input, select, textarea, button {
    font-size: 12px;
}
    .footnotes ol li p, /* The inline footnote text */
    .footnotes ol { /* The number in the list */
        line-height: 20px;
    }
    figcaption {
        line-height: 23px;
    }

/* ROOT ELEMENTS ------------------------------------------------------------ */

body, main {
    text-align: center;
}
html, body {
    height: 100%;
}
main, .standard-page-width, .profile-column {
    max-width: 463px;
    padding-left: 5%;
    padding-right: 5%;
}
main, .standard-page-width, .profile-column {
    /* IE 11 does not fully support main, ignores max-width otherwise */
    display: block;
    position: relative;
    width: auto;
    margin: 0 auto;
}
main {
    padding-bottom: 81px;
}
.full-width-page main {
    max-width: 100%;
}


/* Preparing for blurred album art background in post view */
#content {
    background-size: cover;
    background-position: center;
}

/* NAVBAR ---------------------------------------------------------- */

menu,
menu ul,
menu ul li {
    display: inline-block;
}
menu {
    text-align: left;
    width: 100%;
}
    menu ul {
        list-style-type: none;
        text-align: right;
        float: right;
        margin-right: 0px;
        margin-top: 15px;
        padding-left: 0px;
    }
    menu ul li {
        max-width: 143.5px;
        margin-bottom: 0.25em;
        margin-right: 5vw;
    }

/* HEADERS ------------------------------------------------------------------- */

h1, h2, time {
    text-align: center;
}
h3 {
    text-align: left;
}


h1 {
    margin-top: 5px;
    margin-bottom: 8px;
}
h2 {
    padding-top: 20px;
}
h3 { 
    margin-top: 35px;
    margin-bottom: 15px;
}


time {
    display: block;
    padding-top: 8px;
}
/* Only add the padding when on the home screen, otherwise the order of album
art + article data flips and the padding isn't necessary. */
.reserved-mode main article header time {
    padding-bottom: 21px;
}

/* PARAGRAPH ELEMENTS ------------------------------------------------------- */

p, ol, ul {
    text-align: left;
}


p {
    margin-top: 20px;
}
ol, ul {
    margin-top: 20px;
    padding-left: 30px;
}
ol {
    list-style-type: decimal;
}
ul {
    list-style-type: initial;
}
ol li, ul li {
    margin-bottom: 12px;
}
ol li > :last-child, ul li > :last-child {
    margin-bottom: 0px;
}


blockquote {
    padding-left: 15px;
}
blockquote > :last-child {
    margin-bottom: 0;
}

.profile-column {
    display: inline-block;
    vertical-align:top;
}

/* STREAM NAVIGATION -------------------------------------------------------- */

#bottom-navigation {
    padding-bottom: 51px;
}
#navigation-previous {
    display: inline-block;
    float: left;
    text-align: left;
}
#navigation-next {
    display: inline-block;
    float: right;
    text-align: right;
}

/* IMAGES & VIDEO ----------------------------------------------------------- */

img {
    max-width: 100%;
    max-height: 100%;
    width: auto\9;
}
article img {
    display: block;
    text-align: center;
    margin: 0 auto;
}


figure {
    padding-top: 14px;
    padding-bottom: 14px;
}
figure p {
    text-align: center;
}
figcaption {
    display: block;
    text-align: center;
    width: auto;
    margin: 0 auto;
    padding-top: 0px;
}


/****** ALL IMAGES TYPES FOR USE IN BLOG ******/
/* Normal, inline images extend to the exact width of the text, no more no less
ever. This should be the default choice for post images. */
.inline,
/* Album art fuctions as inline images in almost all ways exact they spill
beyond the text widths in post view to match the width of text AND it's
padding. */
.album-art {
    display: inline-block;
    height: auto;
    width: 100vw;
    max-width: 1600px;
    max-height: none;
    margin-left: -20vw;
    margin-right: -20vw;
}


.archive-album-art {
    width: 30vw;
    margin-bottom:-5px;
    margin-right:-5px;
}


.avatar {
    border-radius: 50%;
    width: 125px;
}


video {
    top: 0;
    left: 0;
    max-width: 100%;
    width: 100%;
    height: auto;
}

/* FOOTNOTES ---------------------------------------------------------------- */

.footnotes ol {
    margin-left: 16px;
    padding-left: 0px;
}
.footnotes ol li {
    margin-bottom: 20px;
}
.footnotes ol > :last-child {
    margin-bottom: 0px;
}
.footnote-processed p,
.footnotes ol {
    margin-top: 0px;
    padding-top: 0px;
}
.footnotes ol li:last-child {
    margin-bottom: 0 !important;
}

/* DIVIDERS ----------------------------------------------------------------- */

hr, article hr, footer hr {
    clear: both;
    border: none;
}
hr {
    margin-top: 50px;
    margin-bottom: 30px;
    display: inline-block;
    height: auto;
    width: 100vw;
    max-width: 1600px;
    max-height: none;
    margin-left: -30vw;
    margin-right: -30vw;
}
article hr, footer hr {
    margin-top: 35px;
    margin-bottom: 35px;
    width: 70%;
}

/* TABLES ------------------------------------------------------------------- */

table {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 24px;
    word-break: normal;
    word-break: keep-all;
}
hr:before, hr:after {
    display: table;
    content: "";
}
hr:after {
    clear: both;
}

/* BUTTONS ------------------------------------------------------------------ */

button {
    height: 25px;
}

/* POSITIONING & SHOWING -------------------------------------------------------------- */

/* NOT ideal, but makes the non-blog page markup slightly nicer to handle, and
there are times we need to fiddle with the margin and width to truely get
something to center. */
.center {
    text-align: center;
    width: auto;
    margin: 0 auto;
}


/* Relic from barrowclift.me release 3.0. Again, NOT ideal and needs to be
 fixed/removed as much as possible in future refactors.*/
.normal-top-pad {
    margin-top: 20px;
}
.pad-top {
    margin-top: 35px;
}
.pad-bottom {
    margin-bottom: 35px;
}


.hide-when-small {
    display: none;
    visibility: hidden;
}
.show-when-small {
    display: inline;
}

/* TITLE ----------------------------------------------------------- */

/* Website "Record Player" Logo */
#logo, #logo-container {
    display: inline-block;
    width: 32px;
    height: 32px;
}
#logo {
    margin-bottom: -1px;
}
/* Exists for the album color "hover" effect on title OR logo hover */
#logo-container {
    margin-right: -6px;
    padding-top: 1px;
}
#title #album-color {
    position: relative;
    width: 11px;
    height: 11px;
    left: 11px;
    top: -22px;
    z-index: -1;
    opacity: 0;
    -webkit-transition: opacity .2s linear;
    transition: opacity .2s linear;
}
#title:hover #album-color {
    opacity: 1;
}
#title:hover {
    color: #333333;
}


/* We want the "ad music hertz" to disappear on small devices and pad a bit to
compensate */
#website-title {
    padding-left: 5%;
    display: inline-block;
}

/* PAGE FOOTER ------------------------------------------------------------ */

/* The root containers for all non-bottom banner site elements */
#wrap {
    min-height: 100%;
}
#page-footer {
    position: relative;
    height: 48px;
    margin-top: -48px; /* Negative value of footer height */
    clear: both;
}
/* Immediate child element of wrap. Since it rests inside wrap the padding
height is part of the 100%, thus forcing the bottom banner to rest at the
bottom of the page. */
.reserved-mode main {
    padding-bottom: 48px;
}
#page-footer-text {
    height: auto;
    text-align: center;
}
/* Opera Fix */
body:before {
    content: "";
    height: 100%;
    float: left;
    width: 0;
    margin-top: -32767px;
}

/* ANCHORS ----------------------------------------------------------- */

.anchor {
    color: currentcolor;
    text-decoration: none;
    padding: 0 .34em;
    opacity: 0;
    transition: opacity .2s ease-in-out;
    float: none;
    margin-left: 0em;
}
.anchored:hover .anchor,
.anchored .anchor:hover {
    opacity: 1;
}

/* DEFAULT COLOR THEME ----------------------------------------------------------- */

html {
    background-color: #F8F7F5;
}
h4, time,
figcaption, .weak {
    color: #848484;
}


/* The logo's "record label" color */
#title #album-color {
    background-color: #840000;
}


/* Dividers */
hr {
    background-color: #848484;
    height: 2px;
    background: #848484; /* Old browsers */
    background: -moz-linear-gradient(left,  #F8F7F5 0%, #848484 25%, #848484 50%, #848484 75%, #F8F7F5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#F8F7F5), color-stop(25%,#848484), color-stop(50%,#848484), color-stop(75%,#848484), color-stop(100%,#F8F7F5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #F8F7F5 0%,#848484 25%,#848484 50%,#848484 75%,#F8F7F5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #F8F7F5 0%,#848484 25%,#848484 50%,#848484 75%,#F8F7F5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #F8F7F5 0%,#848484 25%,#848484 50%,#848484 75%,#F8F7F5 100%); /* IE10+ */
    background: linear-gradient(to right,  #F8F7F5 0%,#848484 25%,#848484 50%,#848484 75%,#F8F7F5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F8F7F5', endColorstr='#F8F7F5',GradientType=1 ); /* IE6-9 */
}
article hr, footer hr {
    background-color: #D6D6D6;
    height: 1px;
    background: #D6D6D6; /* Old browsers */
    background: -moz-linear-gradient(left,  #F8F7F5 0%, #D6D6D6 25%, #D6D6D6 50%, #D6D6D6 75%, #F8F7F5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#F8F7F5), color-stop(25%,#D6D6D6), color-stop(50%,#D6D6D6), color-stop(75%,#D6D6D6), color-stop(100%,#F8F7F5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #F8F7F5 0%,#D6D6D6 25%,#D6D6D6 50%,#D6D6D6 75%,#F8F7F5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #F8F7F5 0%,#D6D6D6 25%,#D6D6D6 50%,#D6D6D6 75%,#F8F7F5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #F8F7F5 0%,#D6D6D6 25%,#D6D6D6 50%,#D6D6D6 75%,#F8F7F5 100%); /* IE10+ */
    background: linear-gradient(to right,  #F8F7F5 0%,#D6D6D6 25%,#D6D6D6 50%,#D6D6D6 75%,#F8F7F5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F8F7F5', endColorstr='#F8F7F5',GradientType=1 ); /* IE6-9 */
}
blockquote {
    border-left: 2px solid #D6D6D6;
    color: #848484;
    -webkit-border-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #F8F7F5), color-stop(0.5, #D6D6D6), color-stop(0.5, #D6D6D6), color-stop(1, #F8F7F5)) 0 100%;
}


/* Highlight Color */
/* Safari Highlight Color */
::selection {
    background: #840000;
    color: #F8F7F5;
}
/* Firefox Highlight Color*/
::-moz-selection {
    background: #840000;
    color: #F8F7F5;
}


/* Links */
/* Standard Links */
a {
    color: #840000;
    font-weight: bold;
    -webkit-transition: color .2s linear;
    transition: color .2s linear;
}
/* Unvisited link */
a:link, a:visited {
    color: #840000;
}
a:hover {
    color: #CF0000;
    -webkit-transition: color .2s linear;
    transition: color .2s linear;
}
article a {
    font-weight: 600;
}
/* Header Links */
h2 a, h1 a, menu ul li a {
    color: #333333;
    font-weight: bold;
    -webkit-transition: color .2s ease;
    transition: color .2s ease;
}
h2, h2 a:link, h1 a:link, menu ul li a:link {
    color: #333333;
}
h2 a:visited, h1 a:visited, menu ul li a:visited {
    color: #333333;
}
h2 a:hover, h1 a:hover, menu ul li a:hover {
    color: #840000;
    -webkit-transition: color .2s ease;
    transition: color .2s ease;
}
/* Navbar Links */
menu ul li ul li:focus,
menu ul li ul li a,
menu ul li ul {
    color: #333333;
}
/* Footer Links */
#page-footer-text span a,
#bottom-navigation div a {
    color: #333333;
}
#page-footer-text span a:hover,
#bottom-navigation div a:hover {
    color: #840000;
}


/* Footnotes */
.bigfoot-footnote__content,
.bigfoot-footnote__tooltip {
    background: #FDFCFA;
}
.bigfoot-footnote__button,
.bigfoot-footnote__button:link,
.bigfoot-footnote__button:visited {
    background-color: #840000;
}
.bigfoot-footnote__button:hover,
.bigfoot-footnote__button:focus,
.bigfoot-footnote__button:active,
.bigfoot-footnote__button.is-active {
    background-color: #CF0000;
}
.bigfoot-footnote__button:hover,
.bigfoot-footnote__button:focus {
    outline: none;
}
.bigfoot-footnote__button.is-active {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}



/* ======================================================================================================= */



/* Small devices (iPads) */
@media (min-width: 43.75rem) {
    /* ----- FONT SIZES ----- */
    menu ul {
        letter-spacing: 0px;
    }
    h1 {
        font-size: 75px;
        line-height: 40px;
    }
    h2 {
        font-size: 30px;
        line-height: 30px;
    }
    h3, h5, h4, menu ul,
    #bottom-navigation {
        font-size: 24px;
    }
        menu ul {
            line-height: 22px;
        }
        h3 {
            line-height: 24px;
        }
        h5 {
            line-height: 28px;
        }
        h4, #bottom-navigation {
            line-height: 32px;
        }
    time,
    p, blockquote, ol, ul,
    table, #page-footer-text span, .bigfoot-footnote__button {
        font-size: 16px;
    }
        #page-footer-text span {
            line-height: 16px;
        }
        #archive-list {
            line-height: 20px;
        }
        time,
        p, blockquote, ol, ul,
        table {
            line-height: 25px;
        }
    .footnotes ol li p,
    .footnotes ol,
    figcaption,
    input, select, textarea, button {
        font-size: 14px;
    }
        .footnotes ol li p,
        .footnotes ol {
            line-height: 23px;
        }
        figcaption {
            line-height: 26px;
        }


    /* ----- ROOT ELEMENTS ----- */
    main, .standard-page-width {
        padding-left: 2.5em;
        padding-right: 2.5em;
        max-width: 529px;
    }
    main {
        padding-bottom: 75px;
    }
    .fat-page main {
        max-width: 648px;
    }


    /* ----- NAVBAR ----- */
    menu {
        text-align: center;
        height: 110px;
        padding-top: 10px;
    }
    menu ul {
        text-align: left;
        float: none;
        padding-left: 3.5vw;
    }
    menu ul li {
        display: block;
        margin-right: 0px;
    }


    /* ----- HEADERS ----- */
    h1 {
        margin-top: 22px;
        margin-bottom: 17px;
    }
    h2 {
        padding-top: 26px;
    }
    h3 {
        margin-top: 45px;
        margin-bottom: 25px;
    }
    time {
        padding-top: 8px;
    }
    .reserved-mode main article header time {
        padding-bottom: 29px;
    }


    /* ----- PARAGRAPH ELEMENTS ----- */
    p, ol, ul {
        margin-top: 26px;
    }
    ol, ul {
        padding-left: 40px;
    }
    ol li, ul li {
        margin-bottom: 20px;
    }
    #archive-list {
        margin-top: 18px;
    }
    .profile-column {
        width: 39vw;
        max-width: 555px;
        padding-left:0;
        padding-right:0;
    }
    .profile-column.left {
        margin-left: 35px;
    }
    .profile-column.right {
        margin-right: 35px;
    }


    /* ----- STREAM NAVIGATION ----- */
    #bottom-navigation {
        padding-bottom: 82px;
    }


    /* ----- IMAGES & VIDEO ----- */
    figcaption {
        padding-top: 8px;
    }
    .inline {
        max-width: 529px;
    }
    .album-art {
        max-width: 609px;
    }
    .avatar {
        width:170px;
    }
    .archive-album-art {
        width: 158px;
    }


    /* ----- FOOTNOTES ----- */
    .footnotes ol {
        margin-left: 18px;
    }
    .footnotes ol li {
        margin-bottom: 26px;
    }


    /* ----- DIVIDERS ----- */
    hr {
        margin-top: 75px;
        margin-bottom: 49px;
        max-width: 840px;
        width: 93vw;
        margin-left: -28vw;
        margin-right: -28vw;
    }
    article hr, footer hr {
        margin-top: 45px;
        margin-bottom: 45px;
        max-width: 529px;
    }


    /* ----- TABLES ----- */
    table {
        margin-bottom: 32px;
    }


    /* ----- BUTTONS ----- */
    button {
        height: 27px;
    }


    /* ----- POSITIONING & SHOWING ----- */
    .normal-top-pad {
        margin-top: 26px;
    }
    .pad-top {
        margin-top: 45px;
    }
    .pad-bottom {
        margin-bottom: 45px;
    }
    .hide-when-small {
        display: inline;
        visibility: visible;
    }
    .show-when-small {
        display: none;
    }


    /* ----- TITLE ----- */
    #logo, #logo-container {
        width: 55px;
        height: 55px;
    }
    #logo-container {
        margin-right: -11px;
        padding-top: 0px;
    }
    #title #album-color {
        width: 20px;
        height: 20px;
        left: 19px;
        top: -36px;
    }
    #website-title {
        padding-left: 0;
    }


    /* ----- PAGE FOOTER ----- */
    #page-footer {
        height: 28px;
        margin-top: -28px;
    }
    .reserved-mode main {
        padding-bottom: 28px;
        padding-left: 35px;
        padding-right: 35px;
    }


    /* ----- ANCHORS ----- */
    .anchor {
        float: left;
        margin-left: -1.3em;
    }
}

/* Large devices (Macs) */
@media (min-width: 56.25em) {
    /* ----- FONT SIZES ----- */
    h1 {
        font-size: 91px;
        line-height: 60px;
    }
    h2 {
        font-size: 35px;
        line-height: 35px;
    }
    h3, h4, h5, menu ul,
    #bottom-navigation {
        font-size: 27px;
        line-height: 27px;
    }
        h4, #bottom-navigation {
            line-height: 39px;
        }
        h5 {
            line-height: 33px;
        }
        menu ul {
            line-height: 27px;
        }
    time,
    p, blockquote, ol, ul,
    table, #page-footer-text span, .bigfoot-footnote__button {
        font-size: 18px;
    }
        time,
        p, blockquote, ol, ul,
        table {
            line-height: 27px;
        }
        #archive-list {
            line-height: 23px;
        }
        #page-footer-text span {
            line-height: 18px;
        }
    .footnotes ol li p,
    .footnotes ol,
    figcaption,
    input, select, textarea, button {
        font-size: 16px;
    }
        figcaption {
            line-height: 26px;
        }
        .footnotes ol li p,
        .footnotes ol {
            line-height: 25px;
        }


    /* ----- ROOT ELEMENTS ----- */
    main, .standard-page-width {
        max-width: 595px;
        padding-left: 50px;
        padding-right: 50px;
    }
    main {
        padding-bottom: 80px;
    }
    .fat-page main {
        max-width: 764px;
    }


    /* ----- NAVBAR ----- */
    menu {
        height: 130px;
    }
    menu ul {
        padding-left: 70px;
    }


    /* ----- HEADERS ----- */
    h1 {
        padding-bottom: 11px;
    }
    h2 {
        padding-top: 32px;
    }
    h3 {
        margin-top: 50px;
        margin-bottom: 30px;
    }
    .reserved-mode main article header time {
        padding-bottom: 35px;
    }


    /* ----- PARAGRAPH ELEMENTS ----- */
    p, ol, ul {
        margin-top: 32px;
    }
    ol, ul {
        padding-left: 60px;
    }
    ol li, ul li {
        margin-bottom: 30px;
    }
    #archive-list {
        margin-top: 28px;
    }
    .profile-column {
        width: 37vw;
        max-width: 555px;
    }


    /* ----- STREAM NAVIGATION ----- */
    #bottom-navigation {
        padding-bottom: 86px;
    }

    /* ----- IMAGES & VIDEO ----- */
    figcaption {
        padding-top: 10px;
    }
    .inline {
        max-width: 595px;
    }
    .album-art {
        max-width: 695px;
    }
    .avatar {
        width:200px;
    }
    .archive-album-art {
        width: 193px;
    }


    /* ----- FOOTNOTES ----- */
    .footnotes ol {
        margin-left: 20px;
    }
    .footnotes ol li {
        margin-bottom: 32px;
    }


    /* ----- DIVIDERS ----- */
    hr {
        margin-top: 100px;
        margin-bottom: 69px;

        display: inline-block;
        width: 82vw;
        max-width: 1158px;
        min-width: 810px;
    }
    article hr, footer hr {
        margin-top: 50px;
        margin-bottom: 50px;
        width: 100%;
        max-width: none;
        min-width: 595px;
    }


    /* ----- TABLES ----- */
    table {
        margin-top: 32px;
        margin-bottom: 38px;
    }


    /* ----- BUTTONS ----- */
    button {
        height: 29px;
    }


    /* ----- POSITIONING & SHOWING ----- */
    .normal-top-pad {
        margin-top: 32px;
    }
    .pad-top {
        margin-top: 50px;
    }
    .pad-bottom {
        margin-bottom: 50px;
    }


    /* ----- TITLE ----- */
    #logo, #logo-container {
        width: 64px;
        height: 64px;
    }
    #logo-container {   
        margin-right: -13px;
    }
    #title #album-color {
        width: 25px;
        height: 25px;
        left: 20px;
        top: -44px;
    }
    #website-title {
        padding-top: 6px;
    }
    

    /* ----- PAGE FOOTER ----- */
    #page-footer {
        height: 36px;
        margin-top: -36px;
    }
    .reserved-mode main {
        padding-bottom: 36px;
        padding-left: 36px;
        padding-right: 36px;
    }
}