/*
TABLE OF CONTENTS:
    Font families ---
    Font sizes & kerning ---
    Page ---
    Navbar ---
    Writing core ---
    Article cards ---
    Images & video ---
    Footnotes ---
    Dividers ---
    Blog navigation ---
    Tables ---
    Forms & Buttons ---
    Positioning & Showing ---
    Anchors ---
    Theme ---

Small devices (iPhones)
Font size: 14px, ~Margin&Padding: 21px
*/

/* FONTS FAMILIES ------------------------------------------------------------------- */

@font-face {
  font-family: "Adelle Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/AdelleSans-Regular.otf");
}
@font-face {
  font-family: "Adelle Sans";
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/AdelleSans-Italic.otf");
}
@font-face {
  font-family: "Adelle Sans";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/AdelleSans-Bold.otf");
}
@font-face {
  font-family: "Adelle Sans";
  font-style: italic;
  font-weight: 700;
  src: url("/fonts/AdelleSans-BoldItalic.otf");
}
@font-face {
  font-family: "Adelle Sans";
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/AdelleSans-Heavy.otf");
}

/* Font Families (input and textarea explicitly included to fix Windows issues) */
html, input, textarea {
    font-family: "Adelle Sans";
    /*font-family: "Adelle Sans", "Trebuchet MS", Helvetica, sans-serif;*/

    /* Font rendering in OS X Firefox is TERRIBLE. This makes the browser tolerable */
    -moz-osx-font-smoothing: grayscale;
    /* Default text rendering in WebKit is *way* too heavy, in my opinion. This thins
       the text a bit and makes it more crisp and pleasing to read. */
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

/* FONT SIZES & KERNING ------------------------------------------------------------------- */

/* ----- SIZES ----- */
html {
    font-size: 14px;
}
h1 {
    font-size: 2.5em; /* 14px font size from <p> * 2.5 */
    line-height: 1.1875em;
    margin-top: 2rem;
    margin-bottom: 0;
}
.article-card header h1 {
    font-size: 2em;
    /* 14px font size from <p> * 2.5 */
    line-height: 1.1em;
    /* 21px line height * 2 */
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}
    header h1 {
        margin-top: 1rem;
    }
h2 {
    font-size: 2em; /* 14px from <p> * 2 */
    line-height: 1.1875em;
    margin: 3rem 0; /* 21px * 1.75 */
}
hr + h2 {
    margin-top: 1.5rem;
}
h3 {
    font-size: 1.5em; /* 14px from <p> * 1.5 */
    line-height: 1.1875em;
    margin: 1.75rem 0;
}
h4, menu ul {
    font-size: 1.25em; /* 14px from <p> * 1.25 */
    line-height: 1.875rem; /* 21px * 1.25 */
    margin: 1.875rem 0; /* 21px * 1.25 */
}
h4 {
    margin: 1.625rem 0;
}
h5 {
    font-size: 1em; /* 14px from <p> */
    line-height: 1.5rem; /* 21px */
    margin: 1.5rem 0; /* 21px */
}
h6 {
    font-size: 0.75em; /* 14px from <p> * 0.75 */
    line-height: 1.125rem; /* 21px * 0.75 */
    margin: 1.125rem 0; /* 21px * 0.75 */
}
p, blockquote, ol, ul, table, ol li, ul li {
    line-height: 1.5rem;
    margin: 1.5rem 0;
}
    ol, ul {
        padding-left: 2.25rem; /* 21px * 1.5 */
    }
time {
    font-size: 0.5em;
    line-height: 1.875rem; /* 21px */
    /*margin-top: 0.5rem;*/ /* 21px * 0.5 */
    /*margin-bottom: 1rem;*/
}
.article-card header h1 time {
    font-size: 1rem;
    line-height: 1.5rem;
    /* 21px */
    margin-top: 0.5rem;
    /* 21px * 0.5 */
    margin-bottom: 0;
}
.footnotes ol li p,
.footnotes ol,
figcaption, pre > code, code,
input, select, textarea, button {
    font-size: 0.9em; /* 13px */
    line-height: 1.25rem;
    margin: 1.25rem 0;
}
    pre, pre > code {
        line-height: 1.2rem; /* 21 * 0.875 */
    }
.bigfoot-footnote__content p {
    line-height: 1.275rem; /* font-size: 85%, 0.85 * base line height 21px for iPhone */
}
small {
    font-size: 0.75em;
}
.underline {
    text-decoration: underline;
}


/* ----- KERNING ----- */
input, textarea {
    /* Better experience for user while entering text */
    letter-spacing: 1px !important;
}
figcaption {
    letter-spacing: 0.0625em;
}

/* PAGE ------------------------------------------------------------ */

/* ----- STICKY NAVIGATION FOOTER ----- */
html, body {
    height: 100%;
}
#wrap {
    min-height: 100%;
}
#content {
    padding-bottom: 3.5rem;
    overflow: auto;
}
main a:nth-child(6) .article-card {
    padding-bottom: 3.5rem !important;
    margin-bottom: -3.5rem !important;
}
main a:nth-child(6) .article-card header h1 {
    margin-bottom: 2rem;
}
/* Opera Fix */
body:before {
    content: "";
    height: 100%;
    float: left;
    width: 0;
    margin-top: -32767px;
}


/* ----- PAGE CONTAINERS ----- */
article, .reading-width {
    max-width: 500px;
    margin: 0 auto;
}
article {
    padding-left: 5%;
    padding-right: 5%;
}
main {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;

    /* IE 11 does not fully support main, ignores max-width otherwise */
    display: block;
    position: relative;
    width: auto;
}
.wide-page {
    max-width: 1640px;
}
.review-page main {
    padding-bottom: 2.5rem;
}

/* NAVBAR ---------------------------------------------------------- */

/* ----- LOGO ----- */

/* Website "Record Player" Logo */
#logo, #logo-container {
    display: inline-block;
    width: 32px;
    height: 32px;
}
#logo {
    margin-bottom: -1px;
}
/* Exists for the album color "hover" effect on title OR logo hover */
#logo-container {
    margin-right: -6px;
    padding-top: 1px;
}
#title #album-color {
    position: relative;
    width: 11px;
    height: 11px;
    left: 11px;
    top: -24px;
    z-index: -1;
    opacity: 0;
    -webkit-transition: opacity .2s linear;
    transition: opacity .2s linear;
}
#title:hover #album-color {
    opacity: 1;
}

/* We want the "ad music hertz" to disappear on small devices and pad a bit to
compensate */
#website-title {
    padding-left: 5%;
    margin-top: 0.65rem;
    margin-bottom: 0.65rem;
    display: inline-block;
}
#website-title span {
    letter-spacing: 0.025em;
    margin-left: 0.05em;
}

/* ----- MENU ----- */

menu {
    text-align: left;
    width: 100%;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 200;
}
menu a {
    font-weight: 900 !important;
    letter-spacing: 0.025em;
}
menu ul {
    list-style-type: none;
    text-align: right;
    float: right;
    margin-top: 0;
    padding-left: 0;
    margin-right: 5%;
    margin-bottom: 0;
    visibility: visible;
    display: inline-block;
}
menu ul li {
    margin-bottom: 0;
    margin-left: 4.5vw;
    text-align:center;
    margin-top: 1.25rem;
    display: inline-block;
    font-weight: bold;
}
menu header a {
    -webkit-transition: color .2s linear;
    transition: color .2s linear;
}
#content {
    /* Pushing all content below floating navbar */
    padding-top: 3.85rem;
}

/* WRITING CORE ------------------------------------------------------------------- */

article header {
    /* Nudging the header up a bit to remove any gaps between the album art and the
    header while on iPhones only when viewing an article */
    margin-top: -4px;
    background-size: cover;
    background-position: bottom;
    width: 100vw;
    display: inline-block;
    margin-left: -30vw;
    margin-right: -30vw;
}
h1, time {
    text-align: center;
}
h1 {
    padding-left: 5%;
    padding-right: 5%;
}
h2, h3, h4, h5, h6,
p, ol, ul {
    text-align: left;
}
time {
    display: block;
}
h1, h2, h3,
table th, strong {
    font-weight: bold;
}
em {
    font-style: italic;
}

ol {
    list-style-type: decimal;
}
ul {
    list-style-type: initial;
}

a {
    -webkit-transition: color .2s linear;
    transition: color .2s linear;
}

blockquote {
    padding-left: 1em;
}
blockquote > :last-child {
    margin-bottom: 0;
}
blockquote > :first-child {
    margin-top: 0;
}

/* ARTICLE CARDS ------------------------------------------------------------------- */

.article-card {
    padding-top: 2.5rem;
    padding-bottom: 1.25rem;
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
}
.article-card img {
    width: 90%;
    border-radius: 4px;
}
.article-card h1 {
    margin-top: 1rem;
}

/* IMAGES & VIDEO ----------------------------------------------------------- */

#content {
    /* The blurred album art background in post view */
    background-size: cover;
    background-position: center;
}

figure p {
    text-align: center;
}
figcaption {
    padding: 0 5%;
    margin-top: -0.75rem;
    margin-bottom: 1.5rem;
    font-style: italic;
}

video {
    top: 0;
    left: 0;
    max-width: 100%;
    width: 100%;
    height: auto;
}

/****** ALL IMAGES TYPES FOR USE IN BLOG ******/
/* Normal, inline images extend to the exact width of the text, no more no less
ever. This should be the default choice for post images. */
.inline,
/* Album art fuctions as inline images in almost all ways exact they spill
beyond the text widths in post view to match the width of text AND it's
padding. */
.album-art {
    display: inline-block;
    height: auto;
    width: 100vw;
    max-width: 1600px;
    max-height: none;
    margin-left: -20vw;
    margin-right: -20vw;
}

.archive-album-art {
    width: 30vw;
    margin: 0.15rem;
    border-radius: 4px;
}
#archive-shelf {
    margin-left: 0em;
    margin-right: 0em;
}

.avatar {
    border-radius: 50%;
    width: 125px;
}

/* FOOTNOTES ---------------------------------------------------------------- */

.footnotes ol {
    margin-left: 16px;
    padding-left: 0px;
}
.footnote-processed p {
    margin-top: 0px;
    padding-top: 0px;
}
.bigfoot-footnote__button.is-active {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

/* DIVIDERS ----------------------------------------------------------------- */

hr, article hr, footer hr {
    clear: both;
    border: none;
}
hr {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    height: 4px;
    display: inline-block;
    height: auto;
    width: 100vw;
    max-width: 1600px;
    max-height: none;
    margin-left: -30vw;
    margin-right: -30vw;
}
article hr, footer hr {
    margin-top: 3rem;
    margin-bottom: 3rem;
    height: 2px;
    width: 70%;
}

/* BLOG NAVIGATION -------------------------------------------------------- */

#navigation-previous {
    display: inline-block;
    float: left;
    text-align: left;
    margin-left:5%;
}
#navigation-next {
    display: inline-block;
    float: right;
    text-align: right;
    margin-right: 5%;
}
#bottom-navigation h4 {
    margin-top: 1rem;
    padding-bottom: 0;
    margin-bottom: 0;
}
#bottom-navigation {
    position: relative;
    bottom: 0;
    height: 3.5rem;
    margin-top: -3.5rem;
    clear: both;
    z-index: 9999;
    margin-bottom: 0;
    width: 100%;

    /* Float the navigation menu */
    /*position: fixed; 
    bottom: 0;
    left: 0;
    right: 0;*/
}

/* TABLES ------------------------------------------------------------------- */

table {
    width: 100%;
    word-break: normal;
    word-break: keep-all;
    border-collapse: collapse;
    overflow-x: auto;
}
hr:before, hr:after {
    display: table;
    content: "";
}
hr:after {
    clear: both;
}
td {
    border-width: 1px;
    border-right: none;
    border-left: none;
}
th, td {
    padding: 0 1rem;
}
th:first-child {
    border-top-left-radius: 4px;
}
th:last-child {
    border-top-right-radius: 4px;
}

/* FORMS & BUTTONS ------------------------------------------------------------------ */

form {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: -1rem;
}
form, input, button, textarea {
    display: inline-block;
    width: 100%;
}
input, button, textarea {
    display: block;
    margin-top: 0;
    margin-bottom: 0.75rem;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
input, textarea {
    padding: 0.5rem;
}
button {
    height: 22px;
    border: none;
    padding-left: 0.55rem;
    padding-right: 0.55rem;
    font-weight: bold;
    -webkit-transition: background-color 0.25s ease;
    transition: background-color 0.25s ease;
}
input:focus, textarea:focus {
    outline: 0;
}

/* POSITIONING & SHOWING -------------------------------------------------------------- */

.center {
    text-align: center;
    width: auto;
    margin: 0 auto;
}

.hide-when-iphone,
.show-when-imac {
    display: none;
    visibility: hidden;
}
.hide-when-imac {
    display: inline;
}

.two-column {
    display: inline-block;
    vertical-align: top;
    margin-top: 2rem;
    max-width: 500px;
    padding-left: 5%;
    padding-right: 5%;
}
.two-column h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

/* ANCHORS ----------------------------------------------------------- */

.anchor {
    font-weight: bold;
    padding: 0 .34em;
    opacity: 0;
    float: none;
    margin-left: 0em;
}
a.anchor {
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    text-decoration: none !important;
}
.anchored:hover .anchor,
.anchored .anchor:hover {
    opacity: 1;
}

/* THEME ----------------------------------------------------------- */

html, main {
    background-color: #F8F7F5;
    color: #333333;
    /*margin-top: 0.5em;
    margin-bottom: 0.5em;*/
}
time, figcaption, .weak {
    color: #969594;
}

/* iOS Translucency */
menu, #bottom-navigation {
    background-color: RGBA(248, 247, 245, 0.9);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

/* Standard drop shadows */
menu, #bottom-navigation, .archive-album-art, .avatar {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 2px 10px 0 rgba(0, 0, 0, 0.10);
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 2px 10px 0 rgba(0, 0, 0, 0.10);
    -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 2px 10px 0 rgba(0, 0, 0, 0.10);
}

/* Logo */
#title:hover {
    color: #333333;
}
#title #album-color {
    /* The logo's "record label" color */
    background-color: #840000;
}

.archive-album-art:hover {
    -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.20), 0 4px 12px 0 rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.20), 0 4px 12px 0 rgba(0, 0, 0, 0.28);
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.20), 0 4px 12px 0 rgba(0, 0, 0, 0.28);

    -webkit-transition: -webkit-box-shadow 0.25s ease 0s;
    -moz-transition: -moz-box-shadow 0.25s ease 0s;
    -o-transition: -o-box-shadow 0.25s ease 0s;
    transition: box-shadow 0.25s ease 0s;
}

.article-card {
    box-shadow: inset 0px 0px 20px #969594;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.18);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.18);

    -webkit-transition: -webkit-box-shadow 0.25s ease 0s;
    -moz-transition: -moz-box-shadow 0.25s ease 0s;
    -o-transition: -o-box-shadow 0.25s ease 0s;
    transition: box-shadow 0.25s ease 0s;
}

.review-page main {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.18);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.18);
}

/* Dividers */
hr {
    background-color: #969594;
    background: #969594; /* Old browsers */
}
article hr, footer hr {
    background-color: #D0D0CE;
    background: #D0D0CE; /* Old browsers */
}
article header h1 time {
    margin-bottom: 1rem;
}

/* Highlight Color */
::selection { /* Safari Highlight Color */
    background: #840000;
    color: #F8F7F5;
}
::-moz-selection { /* Firefox Highlight Color*/
    background: #840000;
    color: #F8F7F5;
}

input, textarea {
    border: 1px solid #D0D0CE;
}
input:focus, textarea:focus {
    border-color: #D0D0CE;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(214,214,214,0.7);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(214,214,214,0.7);
}
input, textarea, button {
    /* css 3 */
    border-radius: 4px;
    /* mozilla */
    -moz-border-radius: 4px;
    /* webkit */
    -webkit-border-radius: 4px;
}
button {
    background-color: #969594;
    color: #F8F7F5;
}
button:hover {
    background-color: #840000;
}

/* Links */
/* Standard Links */
a, a:link, a:visited {
    color: #840000;
}
a:hover {
    color: #CF0000;
}

.review-page main a,
p a {
    text-decoration: underline;
}
.reversefootnote {
    text-decoration: none !important;
}

menu ul li a,
menu ul li a:link,
menu ul li a:visited,
#website-title a:link,
#website-title a:visited,
#website-title a {
    color: #333333;
}
menu ul li a:hover,
#website-title a:hover {
    color: #840000;
}

time a, time a:link, time a:visited {
    color: #840000;
    font-weight: bold;
}
time a:hover {
    color: #CF0000;
    -webkit-transition: color .2s linear;
    transition: color .2s linear;
}

/* Footer Links */
#bottom-navigation h4 a {
    font-weight: bold;
    color: #333333;
}
#bottom-navigation h4 a:hover {
    color: #840000;
}

table th {
    background-color: #E5E5E5;
    color: #666666;
}
td {
    border: solid #E5E5E5;
}

blockquote {
    border-left: 2px solid #D0D0CE;
    background-color: RGBA(0, 0, 0, 0.05);
    padding: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    color: RGBA(51, 51, 51, 0.75);
}

/* Footnotes */
.bigfoot-footnote__button,
.bigfoot-footnote__button:link,
.bigfoot-footnote__button:visited {
    background-color: #840000;
}
.bigfoot-footnote__content,
.bigfoot-footnote__tooltip {
    background: #FDFCFA;
}
.bigfoot-footnote__button:hover,
.bigfoot-footnote__button:focus,
.bigfoot-footnote__button:active,
.bigfoot-footnote__button.is-active {
    background-color: #CF0000;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}
.bigfoot-footnote__button:hover,
.bigfoot-footnote__button:focus {
    outline: none;
}



/* ======================================================================================================= */



/* Tiny devices (width smaller than 320px, the original iPhone screen) */
@media(max-width: 305px) {
    /* ----- NAVBAR ----- */
    menu ul {
        visibility: hidden;
        display: none;
    }
    #logo-container {
        margin-right: 0;
    }
    #content {
        padding-top: 53px;
    }
    #website-title {
        text-align: center;
        display: block;
        padding-left:0;
        padding-right:0;
    }
}

/*
Medium devices (iPads)
Font size: 19px, ~Margin&Padding: 28.5px
*/
@media (min-width: 700px) {
    /* ----- FONT SIZES & KERNING ----- */
    /* Sizes */
    html {
        font-size: 19px;
    }
    .article-card header h1 {
        margin-top: 3rem;
    }


    /* ----- PAGE ----- */
    /* Page Containers */
    article, .reading-width {
        max-width: 650px;
    }
    article {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }
    .full-page main article {
        max-width: none;
    }
    main {
        margin-top: 0.75rem;
        padding-bottom: 0.75rem;
    }
    main a:nth-child(6) .article-card {
        padding-bottom: 1.25rem !important;
        margin-bottom: 0 !important;
    }
    main a:nth-child(6) .article-card header h1 {
        margin-bottom: 1rem;
    }


    /* ----- NAVBAR ----- */
    /* Logo */
    #logo, #logo-container {
        width: 32px;
        height: 32px;
    }
    #logo-container {
        margin-right: -0.14rem;
        padding-top: 0px;
    }
    #title #album-color {
        width: 15px;
        height: 15px;
        left: 8px;
        top: -26px;
    }
    #website-title {
        margin-left: 2vw;
        padding-left: 0;
        margin-top: 0.75rem;
        margin-bottom: 0.5rem;
        float: left;
    }
    #website-title a span {
        font-size: 2rem;
    }

    /* Menu */
    menu ul {
        margin-right: 2vw;
    }
    menu ul li {
        margin-right: 0;
        margin-top: 1.35rem;
    }


    /* ----- WRITING CORE ----- */
    article header {
        margin-top: -5px;
    }


    /* ----- ARTICLE CARDS ----- */
    .article-card header {
        display: inline-block;
        vertical-align: top;
        margin-bottom: 0;
        margin-top: 1rem;
        margin-left: 0rem;
        text-align: center;
        width: 100%;
    }
    .article-card header h1 {
        margin-top: 0;
    }
    .article-card header h1 span {
        margin-bottom: 0;
        min-width: 100%;
    }
    .article-card header h1 time {
        margin-bottom: 0;
    }
    .article-card header h1,
    .article-card header h1 time {
        text-align: center;
    }
    .article-card img {
        display: inline-block;
        width: 100%;
        margin-bottom: 1rem;
        width: 75%;
        margin: 0 auto;
        padding-right: 0;
    }
    .article-card {
        padding-left: 0;
        padding-right: 0;
        max-width: 46vw;
        width: 100%;
        margin: 0.55rem 0.45rem;
        display: inline-block;
        border-radius: 1em;
    }


    /* ----- IMAGES & VIDEO ----- */
    .inline {
        max-width: 650px;
        margin-left: 0;
        margin-right: 0;
    }
    .avatar {
        width: 170px;
    }
    .archive-album-art {
        width: 158px;
    }
    #archive-shelf {
        margin-left: 1em;
        margin-right: 1em;
    }


    /* ----- FOOTNOTES ----- */
    .footnotes ol {
        margin-left: 18px;
    }


    #content {
        padding-top: 3.25rem;
    }
    #content.review-page {
        padding-top: 2.65rem;
    }


    /* ----- DIVIDERS ----- */
    hr {
        max-width: 840px;
        width: 93vw;
        margin-left: -28vw;
        margin-right: -28vw;
    }
    article hr, footer hr {
        max-width: 650px;
    }


    /* ----- BLOG NAVIGATION ----- */


    /* ----- TABLES ----- */


    /* ----- FORMS & BUTTONS ----- */
    button {
        height: 28px;
    }


    /* ----- POSITIONING & SHOWING ----- */
    .hide-when-iphone {
        display: inline;
        visibility: visible;
    }
    .two-column {
        width: 43vw;
        max-width: 390px;
        padding-left: 0;
        padding-right: 0;
    }
    .two-column.left {
        margin-left: 1rem;
    }
    .two-column.right {
        margin-right: 1rem;
    }


    /* ----- ANCHORS ----- */
    .anchor {
        float: left;
        margin-left: -1.3em;
    }


    /* ----- THEME ----- */
    .article-card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.18);
        -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.18);
        -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.18);
    }
    .article-card:hover {
        -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.20), 0 4px 12px 0 rgba(0, 0, 0, 0.28);
        -moz-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.20), 0 4px 12px 0 rgba(0, 0, 0, 0.28);
        box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.20), 0 4px 12px 0 rgba(0, 0, 0, 0.28);
    }
}

/*
Large devices (Macs)
Font size: 19px (didn't change), ~Margin&Padding: 28.5px
*/
@media (min-width: 900px) {
    /* ----- PAGE ----- */
    /* Page Containers */
    article, .reading-width {
        max-width: 700px;
    }
    main {
        margin-top: .75rem;
        padding-bottom: .75rem;
    }
    .review-page main {
        max-width: 700px;
        margin: 0 auto;
        background-color: transparent;
        padding-left: 0;
        padding-right: 0;

        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
    }
    .review-page article {
        background-color: #F8F7F5;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        border-radius: 4px;
        padding-bottom: 1rem;
        padding-top: 1rem;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.18);
        -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.18);
        -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.18);
    }


    /* ----- NAVBAR ----- */
    menu ul {
        margin-right: 1rem;
    }
    menu ul li {
        margin-top: 1.4rem;
        margin-left: 2.5rem;
    }
    #website-title {
        margin-left: 1rem;
    }
    #content {
        padding-top: 64px !important;
    }


    /* ----- WRITING CORE ----- */
    article header {
        width: 100%;
        display: block;
        background-image: none !important;
        margin-left: 0vw;
        margin-right: 0vw;
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        padding-top: 1rem;
    }
    

    /* ----- ARTICLE CARDS ----- */
    .article-card img {
        width: 20vw;
    }
    .article-card {
        margin: 0.75rem 0.675rem;
    }


    /* ----- IMAGES & VIDEO ----- */
    .inline {
        max-width: 700px;
    }
    .album-art {
        max-width: 700px;
        margin-top: 2rem;
        border-radius: 4px;
        margin-bottom: 2rem;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.18);
        -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.18);
        -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.18);
    }
    .avatar {
        width: 200px;
    }
    .archive-album-art {
        width: 193px;
    }


    /* ----- FOOTNOTES ----- */
    .footnotes ol {
        margin-left: 20px;
    }


    /* ----- DIVIDERS ----- */
    hr {
        display: inline-block;
        width: 82vw;
        max-width: 1158px;
        min-width: 810px;
    }
    article hr, footer hr {
        width: 100%;
        max-width: none;
        min-width: 700px;
    }


    /* ----- BLOG NAVIGATION ----- */


    /* ----- TABLES ----- */


    /* ----- FORMS & BUTTONS ----- */
    button {
        height: 30px;
    }


    /* ----- POSITIONING & SHOWING ----- */
    .hide-when-imac {
        display: none;
        visibility: hidden;
    }
    .show-when-imac {
        visibility: visible;
        display: inline;
    }
    .two-column {
        width: 44vw;
        max-width: 555px;
    }


    /* ----- ANCHORS ----- */


    /* ----- THEME ----- */
    article header h1 span {
        color: #333333 !important;
    }
    article header h1 time {
        color: #969594 !important;
        margin-bottom: 2.5rem;
    }
}

/*
Super large devices (fullscreen browsing)
Font size: 19px (didn't change), ~Margin&Padding: 28.5px
*/
@media (min-width: 1760px) {
    .article-card header h1 {
        font-size: 2.5em; /* 14px font size from <p> * 2.5 */
        line-height: 3rem; /* 21px line height * 2 */
        margin-top: 0;
        margin-bottom: 1rem;
    }
    .article-card header h1 time {
        font-size: 0.5em;
        line-height: 2rem; /* 21px */
        margin-top: 0.5rem; /* 21px * 0.5 */
        margin-bottom: 0;
    }

    /* ----- ARTICLE CARDS ----- */
    .article-card header {
        margin-top: 3rem;
        margin-left: 1.5rem;
        text-align: left;
        width: 500px;
    }
    .article-card header h1,
    .article-card header h1 time {
        text-align: left;
    }
    .article-card img {
        max-width: 255px;
        margin-left: 2rem;
    }
    .article-card {
        width: 100%;
        padding-bottom: 2.25rem;
        max-width: 860px;
        width: 46vw;
    }
    main a:nth-child(6) .article-card {
        padding-bottom: 2.25rem !important;
    }
}