---
layout: default
anchors: false
---
<div id="article-cards">
{% for post in paginator.posts %}
	<a href="{{ post.url }}">
		<div class="article-card" style="{% if post.blurred-card %}background-image: url('/images/album-art/{{ post.album-name }}/dark-blur.jpg');{% else %}background: {{post.color-stop-2}};background: -webkit-linear-gradient({{post.color-stop-1}}, {{post.color-stop-2}});background: -o-linear-gradient({{post.color-stop-1}}, {{post.color-stop-2}});background: -moz-linear-gradient({{post.color-stop-1}}, {{post.color-stop-2}});background: linear-gradient({{post.color-stop-1}}, {{post.color-stop-2}});{% endif %}">
			<img src="/images/album-art/{{ post.album-name }}/cover.jpg" class="inline" {% if post.album-art-hidden-text %}title="{{post.album-art-hidden-text}}"{% endif %} {% if post.title %}alt="{{ post.title }}'s album art"{% else %}alt="The album's cover"{% endif %} />
			<header role="header">
				<h1>
					<span style="color:{{ post.primary-color }}" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</span>
					<time style="color:{{ post.secondary-color }}" itemprop="dateCreated">Review by {{ post.author }}<br>{{ post.date | date: "%A, %B %-d, %Y" }}</time>
				</h1>
			</header>
		</div>
	</a>
{% endfor %}
</div>