article hr, footer hr {
	background-color: rgba(175, 167, 147, 0.5);
	background: rgba(175, 167, 147, 0.5); /* Old browsers */
}
.album-art {
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}
html {
	background-color: #FFFEF8 !important;
}
main, .review-page article {
	background-color: #FFFEF8;
	color: #3F341C;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}
article header {
	background-image: none !important;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}
article header h1 span,
h2 {
	color: #B21E0F !important;
}
article header h1 time {
	color: hsla(6, 84%, 38%, 0.5) !important;
}
::selection {
	background: hsla(6, 84%, 38%, 0.99);
	color: #FFFEF8;
}
::-moz-selection {
	background: hsla(6, 84%, 38%, 0.99);
	color: #FFFEF8;
}
a, a:link, a:visited {
	color: #B21E0F;
}
a:hover {
	color: #EF5242;
}
menu a,
menu a:link,
menu a:visited {
	color: #B21E0F;
}
menu a .rss,
menu a .letter {
	fill: #B21E0F;
}
menu a:hover {
	color: #EF5242;
}
menu a:hover .rss,
menu a:hover .letter {
	fill: #EF5242;
}
#logo .record .loud-grooves {
	stroke: hsl(6, 84%, 38%);
	fill: hsl(6, 84%, 43%);
}
#logo .record .quiet-grooves {
	fill: hsl(6, 84%, 33%);
}
#logo .record .flat-grooves {
	fill: hsl(6, 84%, 38%);
}
#logo .record .runout {
	stroke: hsl(6, 84%, 38%);
}
a:hover #logo .record .loud-grooves {
	stroke: hsl(6, 84%, 60%);
	fill: hsl(6, 84%, 65%);
}
a:hover #logo .record .quiet-grooves {
	fill: hsl(6, 84%, 55%);
}
a:hover #logo .record .flat-grooves {
	fill: hsl(6, 84%, 60%);
}
a:hover #logo .record .runout {
	stroke: hsl(6, 84%, 60%);
}
#logo .label {
	opacity: 0;
}
.bigfoot-footnote__button,
.bigfoot-footnote__button:link,
.bigfoot-footnote__button:visited {
	background-color: #B21E0F;
}
.bigfoot-footnote__button:hover,
.bigfoot-footnote__button:focus,
.bigfoot-footnote__button:active,
.bigfoot-footnote__button.is-active {
	background-color: #EF5242;
}
.bigfoot-footnote__tooltip,
.bigfoot-footnote {
	border-color: hsl(60, 30%, 85%);
}
.bigfoot-footnote__tooltip,
.bigfoot-footnote__wrapper {
	background-color: #FFFFF7;
}
.bigfoot-footnote__content {
	color: #3F341C;
}
.bigfoot-footnote__content a {
	color: #B21E0F;
}
.bigfoot-footnote__content a:hover {
	color: #EF5242;
}
.bigfoot-footnote__button:after,
.bigfoot-footnote__button.is-active:after,
.bigfoot-footnote__button:hover:after {
	color: #FFFEF8;
}
.album-art {
	margin-bottom: 0 !important;
}
#springboard,
.review-page article {
	border: unset !important;
	background: unset !important;
}
article hr, footer hr {
	background-color: #E7DFCB;
	background: #E7DFCB; /* Old browsers */
	background: -moz-linear-gradient(left,  #FFFEF8 0%, #E7DFCB 25%, #E7DFCB 50%, #E7DFCB 75%, #FFFEF8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#FFFEF8), color-stop(25%,#E7DFCB), color-stop(50%,#E7DFCB), color-stop(75%,#E7DFCB), color-stop(100%,#FFFEF8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #FFFEF8 0%,#E7DFCB 25%,#E7DFCB 50%,#E7DFCB 75%,#FFFEF8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #FFFEF8 0%,#E7DFCB 25%,#E7DFCB 50%,#E7DFCB 75%,#FFFEF8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #FFFEF8 0%,#E7DFCB 25%,#E7DFCB 50%,#E7DFCB 75%,#FFFEF8 100%); /* IE10+ */
	background: linear-gradient(to right,  #FFFEF8 0%,#E7DFCB 25%,#E7DFCB 50%,#E7DFCB 75%,#FFFEF8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFEF8', endColorstr='#FFFEF8',GradientType=1 ); /* IE6-9 */
}
.review-page article,
#springboard {
	-webkit-backdrop-filter: unset !important;
	backdrop-filter: unset !important;
}
@media (prefers-color-scheme: dark) {
	html {
		background-color: hsl(33, 16%, 22%) !important;
		color: #F7F0DE;
	}
	menu {
		background-color: hsla(33, 16%, 22%, 0.95);
	}
	.review-page article {
		background-color: hsla(33, 16%, 22%, 0.95);
	}
	menu a,
	menu a:link,
	menu a:visited {
		color: #F7F0DE;
	}
	menu a .rss,
	menu a .letter {
		fill: #F7F0DE;
	}
	menu a:hover .rss,
	menu a:hover .letter {
		fill: #B21E0F;
	}
	article header h1 span,
	h2 {
		color: #F7F0DE !important;
	}
	article header h1 time {
		color: hsla(43, 61%, 92%, 0.375) !important;
	}
	#logo .record .loud-grooves {
		stroke: hsl(43, 61%, 88%);
		fill: hsl(43, 61%, 92%);
	}
	#logo .record .quiet-grooves {
		fill: hsl(43, 61%, 90%);
	}
	#logo .record .flat-grooves {
		fill: hsl(43, 61%, 88%);
	}
	#logo .record .runout {
		stroke: hsl(43, 61%, 88%);
	}
	a:hover #logo .record .loud-grooves {
		stroke: hsl(6, 84%, 38%);
		fill: hsl(6, 84%, 43%);
	}
	a:hover #logo .record .quiet-grooves {
		fill: hsl(6, 84%, 33%);
	}
	a:hover #logo .record .flat-grooves {
		fill: hsl(6, 84%, 38%);
	}
	a:hover #logo .record .runout {
		stroke: hsl(6, 84%, 38%);
	}
	a, a:link, a:visited,
	menu a:hover {
		color: #B21E0F;
	}
	a:hover {
		color: #EF5242;
	}
	main, .review-page article {
		color: #F7F0DE;
	}
	.bigfoot-footnote__button,
	.bigfoot-footnote__button:link,
	.bigfoot-footnote__button:visited {
		background-color: #B21E0F;
	}
	.bigfoot-footnote__button:hover,
	.bigfoot-footnote__button:focus,
	.bigfoot-footnote__button:active,
	.bigfoot-footnote__button.is-active {
		background-color: #EF5242;
	}
	.bigfoot-footnote__tooltip,
	.bigfoot-footnote {
		border-color: #322B24;
	}
	.bigfoot-footnote__tooltip,
	.bigfoot-footnote__wrapper {
		background-color: hsl(33, 16%, 32%);
	}
	.bigfoot-footnote__content {
		color: #F7F0DE;
	}
	.bigfoot-footnote__content a {
		color: #B21E0F;
	}
	.bigfoot-footnote__content a:hover {
		color: #EF5242;
	}
	.bigfoot-footnote__button:after,
	.bigfoot-footnote__button.is-active:after,
	.bigfoot-footnote__button:hover:after {
		color: #F7F0DE;
	}
	article hr, footer hr {
		background-color: hsla(43, 61%, 92%, 0.375);
		background: hsla(43, 61%, 92%, 0.375); /* Old browsers */
		background: -moz-linear-gradient(left,  hsl(33, 16%, 22%) 0%, hsla(43, 61%, 92%, 0.375) 25%, hsla(43, 61%, 92%, 0.375) 50%, hsla(43, 61%, 92%, 0.375) 75%, hsl(33, 16%, 22%) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,hsl(33, 16%, 22%)), color-stop(25%,hsla(43, 61%, 92%, 0.375)), color-stop(50%,hsla(43, 61%, 92%, 0.375)), color-stop(75%,hsla(43, 61%, 92%, 0.375)), color-stop(100%,hsl(33, 16%, 22%))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(left,  hsl(33, 16%, 22%) 0%,hsla(43, 61%, 92%, 0.375) 25%,hsla(43, 61%, 92%, 0.375) 50%,hsla(43, 61%, 92%, 0.375) 75%,hsl(33, 16%, 22%) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(left,  hsl(33, 16%, 22%) 0%,hsla(43, 61%, 92%, 0.375) 25%,hsla(43, 61%, 92%, 0.375) 50%,hsla(43, 61%, 92%, 0.375) 75%,hsl(33, 16%, 22%) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(left,  hsl(33, 16%, 22%) 0%,hsla(43, 61%, 92%, 0.375) 25%,hsla(43, 61%, 92%, 0.375) 50%,hsla(43, 61%, 92%, 0.375) 75%,hsl(33, 16%, 22%) 100%); /* IE10+ */
		background: linear-gradient(to right,  hsl(33, 16%, 22%) 0%,hsla(43, 61%, 92%, 0.375) 25%,hsla(43, 61%, 92%, 0.375) 50%,hsla(43, 61%, 92%, 0.375) 75%,hsl(33, 16%, 22%) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='hsl(33, 16%, 22%)', endColorstr='hsla(43, 61%, 92%, 0.375)',GradientType=1 ); /* IE6-9 */
	}
}