article hr, footer hr {
	background-color: #9F9F9F;
	background: #9F9F9F; /* Old browsers */
}
.album-art {
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}
menu {
	background-color: rgba(25, 25, 25, 0.95);
}
.safari menu {
	background-color: rgba(25, 25, 25, 0.7);
}
#content, html {
	background-color: #101010;
}
menu ul li a:link,
menu ul li a:visited,
#logo span {
	color: #FCFDFD;
}
#logo .record .loud-grooves {
	stroke: hsl(60, 25%, 94%);
	fill: hsl(60, 25%, 98%);
}
#logo .record .quiet-grooves {
	fill: hsl(60, 25%, 96%);
}
#logo .record .flat-grooves {
	fill: hsl(60, 25%, 94%);
}
#logo .record .runout {
	stroke: hsl(60, 25%, 94%);
}
#logo:hover .record .loud-grooves {
	stroke: hsl(180, 21%, 65%);
	fill: hsl(180, 21%, 69%);
}
#logo:hover .record .quiet-grooves {
	fill: hsl(180, 21%, 67%);
}
#logo:hover .record .flat-grooves {
	fill: hsl(180, 21%, 65%);
}
#logo:hover .record .runout {
	stroke: hsl(180, 21%, 65%);
}
#logo .label {
	fill: #759D9A;
}
#logo:hover .label {
	fill: rgba(0,0,0,0);
}
main, .review-page article {
	background-color: unset;
	color: #FCFDFD;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}
article header {
	background-image: none !important;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}
article header h1 span {
	color: #E3E3E3 !important;
}
article header h1 time {
	color: #759D9A !important;
}

/* Safari */
::selection {
	background: #99CECB;
	color: #FCFDFD;
}
/* Firefox */
::-moz-selection {
	background: #99CECB;
	color: #FCFDFD;
}

a, a:link, a:visited {
	color: #759D9A;
}
a:hover,
menu ul li a:hover,
#logo:hover span {
	color: #9EC0C0;
}
#logo .label {
	background-color: #759D9A;
}

#logo a,
menu ul li a {
	text-decoration: none;
}

.bigfoot-footnote__button,
.bigfoot-footnote__button:link,
.bigfoot-footnote__button:visited {
	background-color: #759D9A;
}
.bigfoot-footnote__button:hover,
.bigfoot-footnote__button:focus,
.bigfoot-footnote__button:active,
.bigfoot-footnote__button.is-active {
	background-color: #9EC0C0;
}
.bigfoot-footnote__tooltip {
	background-color: #222222;
	border: 1px solid #292929;
}
.bigfoot-footnote,
.bigfoot-footnote__wrapper {
	background-color: #292929;
}
.bigfoot-footnote__tooltip,
.bigfoot-footnote__wrapper,
.bigfoot-footnote__content {
	background-color: #222222;
}
.bigfoot-footnote__content {
	color: #FCFDFD;
}
.bigfoot-footnote__content a {
	color: #759D9A;
}
.bigfoot-footnote__content a:hover {
	color: #9EC0C0;
}
.bigfoot-footnote__button:after {
	color: white;
}