/* PAGE CONTAINERS & WRITING ELEMENTS ----------------------------------------------------------- */
article hr, footer hr {
    background-color: #9F9F9F;
    background: #9F9F9F; /* Old browsers */
}

.album-art {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}
#bottom-navigation, menu {
    /*background-color: RGBA(4, 4, 5, .75);*/
    background-color: RGBA(35,35,35,.75);
}
#content, html {
    background-color: #101010;
}
menu ul li a:link,
menu ul li a:visited,
#website-title a,
#website-title a:link,
#website-title a:visited {
    color: #FCFDFD;
}
main, .review-page article {
    background-color: #101010;
    color: #FCFDFD;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}
article header {
    background-image: none !important;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}
article header h1 span {
    color: #E3E3E3 !important;
}
article header h1 time {
    color: #9F9F9F !important;
}


/* HIGHLIGHT ----------------------------------------------------------- */
/* Safari */
::selection {
    background: #99CECB;
    color: #FCFDFD;
}
/* Firefox */
::-moz-selection {
    background: #99CECB;
    color: #FCFDFD;
}


/* LINKS ----------------------------------------------------------- */
a, a:link, a:visited {
    color: #FCFDFD;
}
a:hover,
menu ul li a:hover,
#website-title a:hover {
    color: #759D9A;
}
#title #album-color {
    background-color: #759D9A;
}

#website-title a,
menu ul li a {
    text-decoration: none;
}

.bigfoot-footnote__button,
.bigfoot-footnote__button:link,
.bigfoot-footnote__button:visited {
    background-color: #FCFDFD;
}
.bigfoot-footnote__button:hover,
.bigfoot-footnote__button:focus,
.bigfoot-footnote__button:active,
.bigfoot-footnote__button.is-active {
    background-color: #759D9A;
}
.bigfoot-footnote__tooltip {
    background-color: #222222;
    border: 1px solid #292929;
}
.bigfoot-footnote,
.bigfoot-footnote__wrapper {
    background-color: #292929;
}
.bigfoot-footnote__tooltip,
.bigfoot-footnote__wrapper,
.bigfoot-footnote__content {
    background-color: #222222;
}
.bigfoot-footnote__content,
.bigfoot-footnote__content a {
    color: #FCFDFD;
}
.bigfoot-footnote__content a:hover {
    color: #759D9A;
}
.bigfoot-footnote__button:after {
    color: #101010;
}