/**
 * Background
 */
html {
    background-color: #DDA889;
}
.review-page article,
#springboard {
    background-color: hsla(22, 55%, 90%, 0.95);
}
::selection {
    background: hsla(10, 49%, 35%, 0.99);
}
::-moz-selection {
    background: hsla(10, 49%, 35%, 0.99);
}

/**
 * Menu
 */
menu a,
menu a:link,
menu a:visited {
    color: #3A2421;
}
menu a .rss,
menu a .letter {
    fill: #3A2421;
}
menu a:hover {
    color: #863D2E;
}
menu a:hover .letter,
menu a:hover .rss {
    fill: #863D2E;
}

/**
 * Record Logo
 */
#logo .record .flat-grooves {
    fill: hsl(7, 27%, 18%);
}
#logo .record .runout {
    stroke: hsl(7, 27%, 18%);
}
#logo .record .loud-grooves {
    stroke: hsl(7, 27%, 18%);
    fill: hsl(7, 27%, 23%);
}
#logo .record .quiet-grooves {
    fill: hsl(7, 27%, 13%);
}
#logo .label-glow {
    stroke: #B08452;
}
#logo .label {
    opacity: 1 !important;
    fill: #B08452;
    stroke: #B08452;
}

a:hover #logo .record .flat-grooves {
    fill: hsl(10, 49%, 35%);
}
a:hover #logo .record .runout {
    stroke: hsl(10, 49%, 35%);
}
a:hover #logo .record .loud-grooves {
    stroke: hsl(10, 49%, 35%);
    fill: hsl(10, 49%, 40%);
}
a:hover #logo .record .quiet-grooves {
    fill: hsl(10, 49%, 30%);
}
a:hover #logo .label {
    fill: rgba(0, 0, 0, 0);
}

/**
 * Article Body
 */
a, a:link, a:visited {
    color: #863D2E;
}
a:hover {
    color: #AA6D34;
}

#listen-on-buttons .start {
    stop-color: #BF5742;
}
#listen-on-buttons .stop {
    stop-color: #733427;
}

@media (prefers-color-scheme: dark) {
    /**
     * Background
     */
    html {
        color: white;
        background-color: #3B2111;
    }
    .review-page article,
    #springboard {
        background-color: #281613;
    }
    ::selection {
        background: hsla(22, 55%, 70%, 0.99);
    }
    ::-moz-selection {
        background: hsla(22, 55%, 70%, 0.99);
    }

    /**
     * Menu
     */
    menu a,
    menu a:link,
    menu a:visited {
        color: #DDA889;
    }
    menu a .rss,
    menu a .letter {
        fill: #DDA889;
    }
    menu a:hover {
        color: #AA6D34;
    }
    menu a:hover .rss,
    menu a:hover .letter {
        fill: #AA6D34;
    }

    /**
     * Record Logo
     */
    #logo .record .flat-grooves {
        fill: hsl(22, 55%, 70%);
    }
    #logo .record .runout {
        stroke: hsl(22, 55%, 70%);
    }
    #logo .record .loud-grooves {
        stroke: hsl(22, 55%, 70%);
        fill: hsl(22, 55%, 75%);
    }
    #logo .record .quiet-grooves {
        fill: hsl(22, 55%, 65%);
    }
    #logo .label-glow {
        stroke: #863D2E;
    }
    #logo .label {
        opacity: 1 !important;
        fill: #863D2E;
        stroke: #863D2E;
    }

    a:hover #logo .record .flat-grooves {
        fill: hsl(29, 53%, 44%);
    }
    a:hover #logo .record .runout {
        stroke: hsl(29, 53%, 44%);
    }
    a:hover #logo .record .loud-grooves {
        stroke: hsl(29, 53%, 44%);
        fill: hsl(29, 53%, 49%);
    }
    a:hover #logo .record .quiet-grooves {
        fill: hsl(29, 53%, 39%);
    }
    a:hover #logo .label {
        fill: rgba(0, 0, 0, 0);
    }

    /**
     * Article Body
     */
    a, a:link, a:visited {
        color: #DDA889;
    }
    a:hover {
        color: #AA6D34;
    }
    
    #listen-on-buttons .start {
        stop-color: #DDA889;
    }
    #listen-on-buttons .stop {
        stop-color: #AA6D34;
    }
}