html {
	background-color: #FFFFFF;
}
.review-page article,
#springboard {
	background-color: #F8FAFB;
}
@media (prefers-color-scheme: dark) {
	html {
		background-color: #332C2B;
	}
	#springboard,
	.review-page article {
		background-color: #332C2B;
	}
}
::selection {
	background: rgba(176, 93, 32, 0.9);
}
::-moz-selection {
	background: rgba(176, 93, 32, 0.9);
}
a, a:link, a:visited,
menu a:hover {
	color: #b05d20;
}
.rss {
	fill: rgba(33, 37, 41, 0.9);
}
menu a:hover .rss {
	fill: #b05d20;
}
#logo .record .loud-grooves {
	stroke: hsl(0, 0%, 9%);
	fill: hsl(0, 0%, 13%);
}
#logo .record .quiet-grooves {
	fill: hsl(0, 0%, 11%);
}
#logo .record .flat-grooves {
	fill: hsl(0, 0%, 9%);
}
#logo .record .runout {
	stroke: hsl(0, 0%, 9%);
}
a:hover #logo .record .loud-grooves {
	stroke: hsl(25, 69%, 39%);
	fill: hsl(25, 69%, 42%);
}
a:hover #logo .record .quiet-grooves {
	fill: hsl(25, 69%, 41%);
}
a:hover #logo .record .flat-grooves {
	fill: hsl(25, 69%, 39%);
}
a:hover #logo .record .runout {
	stroke: hsl(25, 69%, 39%);
}
#logo .label {
	fill: #b05d20;
	stroke: #b05d20;
}
a:hover {
	color: #DF9149;
}
#listen-on-buttons .start {
	stop-color: #DF9149;
}
#listen-on-buttons .stop {
	stop-color: #b05d20;
}
@media (prefers-color-scheme: dark) {
	a, a:link, a:visited {
		color: hsl(25, 79%, 51%);
	}
	a:hover {
		color: hsl(25, 89%, 75%);
	}
	#listen-on-buttons .start {
		stop-color: hsl(25, 89%, 65%);
	}
	#listen-on-buttons .stop {
		stop-color: hsl(25, 79%, 51%);
	}
	menu a,
	menu a:link,
	menu a:visited {
		color: white;
	}
	menu a:hover {
		color: #b05d20;
	}
	.rss {
		fill: white;
	}
	menu a:hover .rss {
		fill: #b05d20;
	}
	#logo .record .loud-grooves {
		stroke: hsl(25, 0%, 95%);
		fill: hsl(25, 0%, 100%);
	}
	#logo .record .quiet-grooves {
		fill: hsl(25, 0%, 97%);
	}
	#logo .record .flat-grooves {
		fill: hsl(25, 0%, 95%);
	}
	#logo .record .runout {
		stroke: hsl(25, 0%, 95%);
	}

	a:hover #logo .record .loud-grooves {
		stroke: hsl(25, 69%, 41%);
		fill: hsl(25, 69%, 45%);
	}
	a:hover #logo .record .quiet-grooves {
		fill: hsl(25, 69%, 43%);
	}
	a:hover #logo .record .flat-grooves {
		fill: hsl(25, 69%, 41%);
	}
	a:hover #logo .record .runout {
		stroke: hsl(25, 69%, 41%);
	}
}
.bigfoot-footnote__button,
.bigfoot-footnote__button:link,
.bigfoot-footnote__button:visited {
	background-color: #b05d20;
}
.bigfoot-footnote__button:hover,
.bigfoot-footnote__button:focus,
.bigfoot-footnote__button:active,
.bigfoot-footnote__button.is-active {
	background-color: #DF9149;
}
menu {
	background-color: #F2FAFD;
}
@media (prefers-color-scheme: dark) {
	menu {
		background-color: #332C2B;
	}
}