/* HIGHLIGHT ----------------------------------------------------------- */
/* Safari */
::selection {
	background: #E0BF70;
	color: #F8F7F5;
}
/* Firefox */
::-moz-selection {
	background: #E0BF70;
	color: #F8F7F5;
}


/* LINKS ----------------------------------------------------------- */
a, a:link, a:visited,
menu ul li a:hover,
#logo:hover span {
	color: #9A5132;
}
#logo:hover .record .loud-grooves {
	stroke: hsl(18, 51%, 38%);
	fill: hsl(18, 51%, 40%);
}
#logo:hover .record .quiet-grooves {
	fill: hsl(18, 51%, 39%);
}
#logo:hover .record .flat-grooves {
	fill: hsl(18, 51%, 38%);
}
#logo:hover .record .runout {
	stroke: hsl(18, 51%, 38%);
}
#logo .label {
	fill: #9A5132;
}
#logo:hover .label {
	fill: rgba(0,0,0,0);
}
a:hover {
	color: #CD5A39;
}

#logo .label,
.bigfoot-footnote__button,
.bigfoot-footnote__button:link,
.bigfoot-footnote__button:visited {
	background-color: #9A5132;
}
.bigfoot-footnote__button:hover,
.bigfoot-footnote__button:focus,
.bigfoot-footnote__button:active,
.bigfoot-footnote__button.is-active {
	background-color: #CD5A39;
}

.review-page article {
	background-color: hsla(41, 57%, 80%, 0.85);
}
menu {
	background-color: rgba(232, 215, 176, 0.95);
}
.safari menu,
.chrome menu {
	background-color: rgba(232, 215, 176, 0.7);
}