/* HIGHLIGHT ----------------------------------------------------------- */
/* Safari */
::selection {
    background: #E0BF70;
    color: #F8F7F5;
}
/* Firefox */
::-moz-selection {
    background: #E0BF70;
    color: #F8F7F5;
}


/* LINKS ----------------------------------------------------------- */
a, a:link, a:visited,
menu ul li a:hover,
#website-title a:hover {
    color: #9A5132;
}
a:hover {
    color: #CD5A39;
}

#title #album-color,
.bigfoot-footnote__button,
.bigfoot-footnote__button:link,
.bigfoot-footnote__button:visited {
    background-color: #9A5132;
}
.bigfoot-footnote__button:hover,
.bigfoot-footnote__button:focus,
.bigfoot-footnote__button:active,
.bigfoot-footnote__button.is-active {
    background-color: #CD5A39;
}