html {
	color: #1C2931;
	background-color: #1D2629;
}
menu,
.safari menu,
.chrome menu {
	background-color: rgba(245, 238, 220, 0.95);
}
.review-page article {
	background-color: rgba(245, 238, 220, 0.95);
}
time {
	color: #898B87;
}


/* HIGHLIGHT ----------------------------------------------------------- */
/* Safari */
::selection {
	background: #9F956B;
	color: #F8F7F5;
}
/* Firefox */
::-moz-selection {
	background: #9F956B;
	color: #F8F7F5;
}


/* LINKS ----------------------------------------------------------- */
a, a:link, a:visited,
menu ul li a:hover,
#logo:hover span {
	color: #A29768;
}
#logo:hover .record .loud-grooves {
	stroke: hsl(49, 24%, 50%);
	fill: hsl(49, 24%, 52%);
}
#logo:hover .record .quiet-grooves {
	fill: hsl(49, 24%, 51%);
}
#logo:hover .record .flat-grooves {
	fill: hsl(49, 24%, 50%);
}
#logo:hover .record .runout {
	stroke: hsl(49, 24%, 50%);
}
#logo .label {
	fill: #A29768;
}
#logo:hover .label {
	fill: rgba(0,0,0,0);
}
a:hover {
	color: #8ea280;
}
#listen-on-buttons .start {
	stop-color: #9F956B;
}
#listen-on-buttons .stop {
	stop-color: #84794B;
}

#logo .label,
.bigfoot-footnote__button,
.bigfoot-footnote__button:link,
.bigfoot-footnote__button:visited {
	background-color: #A29768;
}
.bigfoot-footnote__button:hover,
.bigfoot-footnote__button:focus,
.bigfoot-footnote__button:active,
.bigfoot-footnote__button.is-active {
	background-color: #8ea280;
}