html {
	color: #1C2931;
	background-color: #1D2629;
}
menu {
	background-color: rgba(245, 238, 220, 0.95);
}
.review-page article {
	background-color: rgba(245, 238, 220, 0.95);
}
time {
	color: #898B87;
}


/* HIGHLIGHT ----------------------------------------------------------- */
/* Safari */
::selection {
	background: hsla(48, 21%, 52%, 0.99);
	color: #F8F7F5;
}
/* Firefox */
::-moz-selection {
	background: hsla(48, 21%, 52%, 0.99);
	color: #F8F7F5;
}


/* LINKS ----------------------------------------------------------- */
a, a:link, a:visited,
menu ul li a:hover,
#logo:hover span {
	color: #A29768;
}
.rss {
	fill: rgba(33, 37, 41, 0.9);
}
menu a:hover .rss {
	fill: #A29768;
}
#logo .record .loud-grooves {
	stroke: hsl(197, 6%, 17%);
	fill: hsl(197, 6%, 21%);
}
#logo .record .quiet-grooves {
	fill: hsl(197, 6%, 19%);
}
#logo .record .flat-grooves {
	fill: hsl(197, 6%, 17%);
}
#logo .record .runout {
	stroke: hsl(197, 6%, 17%);
}
#logo:hover .record .loud-grooves {
	stroke: hsl(49, 24%, 50%);
	fill: hsl(49, 24%, 52%);
}
#logo:hover .record .quiet-grooves {
	fill: hsl(49, 24%, 51%);
}
#logo:hover .record .flat-grooves {
	fill: hsl(49, 24%, 50%);
}
#logo:hover .record .runout {
	stroke: hsl(49, 24%, 50%);
}
#logo .label {
	fill: #A29768;
}
#logo:hover .label {
	fill: rgba(0,0,0,0);
}
a:hover {
	color: #8ea280;
}
#listen-on-buttons .start {
	stop-color: #9F956B;
}
#listen-on-buttons .stop {
	stop-color: #84794B;
}

#logo .label,
.bigfoot-footnote__button,
.bigfoot-footnote__button:link,
.bigfoot-footnote__button:visited {
	background-color: #A29768;
}
.bigfoot-footnote__button:hover,
.bigfoot-footnote__button:focus,
.bigfoot-footnote__button:active,
.bigfoot-footnote__button.is-active {
	background-color: #8ea280;
}

@media (prefers-color-scheme: dark) {
	html {
		background-color: #0E1416;
		color: #F7F0DE;
	}
	menu {
		background-color: hsla(156, 7%, 27%, 0.95);
	}
	.review-page article {
		background-color: hsla(156, 7%, 27%, 0.95);
	}
	menu ul li a,
	menu ul li a:link,
	menu ul li a:visited,
	#logo span {
		color: #F7F0DE;
	}
	.rss {
		fill: #F7F0DE;
	}
	menu a:hover .rss {
		fill: #A29768;
	}
	#logo .record .loud-grooves {
		stroke: hsl(43, 61%, 88%);
		fill: hsl(43, 61%, 92%);
	}
	#logo .record .quiet-grooves {
		fill: hsl(43, 61%, 90%);
	}
	#logo .record .flat-grooves {
		fill: hsl(43, 61%, 88%);
	}
	#logo .record .runout {
		stroke: hsl(43, 61%, 88%);
	}
	a, a:link, a:visited,
	menu ul li a:hover,
	#logo:hover span {
		color: #A29768;
	}
	a:hover {
		color: #D2C695;
	}
	#listen-on-buttons .start {
		stop-color: #B9AD78;
	}
	#listen-on-buttons .stop {
		stop-color: #7F764E
	}
}