html {
	background-color: #F2C419;
}
.review-page article,
#springboard {
	background-color: hsla(47, 93%, 85%, 0.75);
}
@media (prefers-color-scheme: dark) {
	html {
		background-color: #776324;
	}
	.review-page article,
	#springboard {
		background-color: hsla(47, 85%, 5%, 0.4);
	}
}

/* Safari */
::selection {
	background: hsla(47, 89%, 52%, 0.99);
}
/* Firefox */
::-moz-selection {
	background: hsla(47, 89%, 52%, 0.99);
}
@media (prefers-color-scheme: dark) {
	/* Safari */
	::selection {
		background: hsla(47, 89%, 26%, 0.99);
	}
	/* Firefox */
	::-moz-selection {
		background: hsla(47, 89%, 26%, 0.99);
	}
}
a, a:link, a:visited {
	color: #E98635;
}
menu ul li a,
menu ul li a:link,
menu ul li a:visited,
#logo span {
	color: #F2ECD1;
}
#logo:hover span,
menu ul li a:hover {
	color: #E98635;
}
.rss {
	fill: #F2ECD1;
}
menu a:hover .rss {
	fill: #E98635;
}
#logo .record .flat-grooves {
	fill: hsl(47, 65%, 85%);
}
#logo .record .runout {
	stroke: hsl(47, 65%, 85%);
}
#logo .record .loud-grooves {
	stroke: hsl(47, 65%, 85%);
	fill: hsl(47, 65%, 90%);
}
#logo .record .quiet-grooves {
	fill: hsl(47, 65%, 80%);
}
#logo .label {
	fill: #F2C419;
}

#logo:hover .record .flat-grooves {
	fill: hsl(27, 80%, 56%);
}
#logo:hover .record .runout {
	stroke: hsl(27, 80%, 56%);
}
#logo:hover .record .loud-grooves {
	stroke: hsl(27, 80%, 56%);
	fill: hsl(27, 80%, 61%);
}
#logo:hover .record .quiet-grooves {
	fill: hsl(27, 80%, 51%);
}
#logo:hover .label {
	fill: rgba(0, 0, 0, 0);
}

a:hover {
	color: #DE3123;
}
#listen-on-buttons .start {
	stop-color: #F2C419;
}
#listen-on-buttons .stop {
	stop-color: #E98635;
}

.bigfoot-footnote__button,
.bigfoot-footnote__button:link,
.bigfoot-footnote__button:visited {
	background-color: #DE3123;
}
.bigfoot-footnote__button:hover,
.bigfoot-footnote__button:focus,
.bigfoot-footnote__button:active,
.bigfoot-footnote__button.is-active {
	background-color: #DE3123;
}