html {
	background-color: #F2C419;
}
.review-page article,
#springboard {
	background-color: hsla(47, 93%, 85%, 0.75);
}
@media (prefers-color-scheme: dark) {
	html {
		background-color: #776324;
	}
	.review-page article,
	#springboard {
		background-color: hsla(47, 85%, 5%, 0.4);
	}
}

/* Safari */
::selection {
	background: hsla(47, 89%, 52%, 0.99);
}
/* Firefox */
::-moz-selection {
	background: hsla(47, 89%, 52%, 0.99);
}
@media (prefers-color-scheme: dark) {
	/* Safari */
	::selection {
		background: hsla(47, 89%, 26%, 0.99);
	}
	/* Firefox */
	::-moz-selection {
		background: hsla(47, 89%, 26%, 0.99);
	}
}
a, a:link, a:visited {
	color: #E98635;
}
menu a,
menu a:link,
menu a:visited {
	color: #FFFFFF;
}
menu a:hover {
	color: #E98635;
}
menu a .rss,
menu a .letter {
	fill: #FFFFFF;
}
menu a:hover .rss,
menu a:hover .letter {
	fill: #E98635;
}
#logo .record .flat-grooves {
	fill: hsl(210, 25%, 95%);
}
#logo .record .runout {
	stroke: hsl(210, 25%, 95%);
}
#logo .record .loud-grooves {
	stroke: hsl(210, 25%, 95%);
	fill: hsl(210, 25%, 100%);
}
#logo .record .quiet-grooves {
	fill: hsl(210, 25%, 90%);
}
.label {
	opacity: 0;
}

a:hover #logo .record .flat-grooves {
	fill: hsl(27, 80%, 56%);
}
a:hover #logo .record .runout {
	stroke: hsl(27, 80%, 56%);
}
a:hover #logo .record .loud-grooves {
	stroke: hsl(27, 80%, 56%);
	fill: hsl(27, 80%, 61%);
}
a:hover #logo .record .quiet-grooves {
	fill: hsl(27, 80%, 51%);
}

a:hover {
	color: #DE3123;
}
#listen-on-buttons .start {
	stop-color: #F2C419;
}
#listen-on-buttons .stop {
	stop-color: #E98635;
}

.bigfoot-footnote__button,
.bigfoot-footnote__button:link,
.bigfoot-footnote__button:visited {
	background-color: #DE3123;
}
.bigfoot-footnote__button:hover,
.bigfoot-footnote__button:focus,
.bigfoot-footnote__button:active,
.bigfoot-footnote__button.is-active {
	background-color: #DE3123;
}