html {
	background-color: #5C8680;
}
::selection {
	background: hsla(135, 31%, 67%, 0.99);
}
::-moz-selection {
	background: hsla(135, 31%, 67%, 0.99);
}
a, a:link, a:visited {
	color: #92C69F;
}
a:hover {
	color: #586B63;
}

/**
 * Record Logo
 */
#logo .record .flat-grooves {
	fill: hsl(215, 26%, 86%);
}
#logo .record .runout {
	stroke: hsl(215, 26%, 86%);
}
#logo .record .loud-grooves {
	stroke: hsl(215, 26%, 86%);
	fill: hsl(215, 26%, 91%);
}
#logo .record .quiet-grooves {
	fill: hsl(215, 26%, 81%);
}
a:hover #logo .record .loud-grooves {
	stroke: hsl(135, 31%, 63%);
	fill: hsl(135, 31%, 67%);
}
a:hover #logo .record .quiet-grooves {
	fill: hsl(135, 31%, 65%);
}
a:hover #logo .record .flat-grooves {
	fill: hsl(135, 31%, 63%);
}
a:hover #logo .record .runout {
	stroke: hsl(135, 31%, 63%);
}
.label {
	opacity: 0;
}

/**
 * Menu
 */
menu a,
menu a:link,
menu a:visited {
	color: rgba(255, 255, 255, 0.8);
}
.rss {
	fill: rgba(255, 255, 255, 0.8);
}
menu a:hover {
	color: #92C69F;
}
menu a:hover .rss {
	fill: #92C69F;
}

.bigfoot-footnote__button,
.bigfoot-footnote__button:link,
.bigfoot-footnote__button:visited {
	background-color: #92C69F;
}
.bigfoot-footnote__button:hover,
.bigfoot-footnote__button:focus,
.bigfoot-footnote__button:active,
.bigfoot-footnote__button.is-active {
	background-color: #586B63;
}
.bigfoot-footnote__tooltip {
	background-color: hsla(73, 43%, 95%, 0.95);
	border: 1px solid #C4C9BD;
}
.bigfoot-footnote,
.bigfoot-footnote__wrapper {
	background-color: #C4C9BD;
}
.bigfoot-footnote__tooltip,
.bigfoot-footnote__wrapper,
.bigfoot-footnote__content {
	background-color: hsla(73, 43%, 95%, 0.95);
}
.bigfoot-footnote__content {
	color: rgba(33, 37, 41, 0.9);
}
.bigfoot-footnote__content a {
	color: #92C69F;
}
.bigfoot-footnote__content a:hover {
	color: #586B63;
}
.bigfoot-footnote__button:after,
.bigfoot-footnote__button.is-active:after,
.bigfoot-footnote__button:hover:after {
	color: hsla(73, 33%, 92%, 0.95);
}
@media (prefers-color-scheme: dark) {
	html {
		background-color: #586B63;
	}
	.review-page article {
		color: #EEF1E3;
		background-color: hsla(155, 10%, 15%, 0.8);
	}
	main,
	.review-page article {
		color: hsl(135, 31%, 95%);
	}
	article header h1 span,
	h2 {
		color: hsl(135, 31%, 67%);
	}
	article header h1 time {
		color: hsla(135, 31%, 75%, 0.375);
	}
	menu a,
	menu a:link,
	menu a:visited {
		color: #92C69F;
	}
	.rss {
		fill: #92C69F;
	}
	menu a:hover .rss {
		fill: #586B63;
	}
	#logo .record .loud-grooves {
		stroke: hsl(135, 31%, 61%);
		fill: hsl(135, 31%, 67%);
	}
	#logo .record .quiet-grooves {
		fill: hsl(135, 31%, 64%);
	}
	#logo .record .flat-grooves {
		fill: hsl(135, 31%, 61%);
	}
	#logo .record .runout {
		stroke: hsl(135, 31%, 61%);
	}
	#logo .label {
		fill: #586B63;
		stroke: unset !important;
		opacity: 1 !important;
	}
	#logo .label-glow {
		stroke: unset !important;
	}

	menu a:hover {
		color: #586B63;
	}
	a:hover #logo .record .loud-grooves {
		stroke: hsl(155, 10%, 32%);
		fill: hsl(155, 10%, 38%);
	}
	a:hover #logo .record .quiet-grooves {
		fill: hsl(155, 10%, 35%);
	}
	a:hover #logo .record .flat-grooves {
		fill: hsl(155, 10%, 32%);
	}
	a:hover #logo .record .runout {
		stroke: hsl(155, 10%, 32%);
	}
	.bigfoot-footnote__tooltip {
		background-color: hsla(155, 10%, 18%, 0.95);
		border: 1px solid #36403C;
	}
	.bigfoot-footnote,
	.bigfoot-footnote__wrapper {
		background-color: #36403C;
	}
	.bigfoot-footnote__tooltip,
	.bigfoot-footnote__wrapper,
	.bigfoot-footnote__content {
		background-color: hsla(155, 10%, 18%, 0.95);
	}
	.bigfoot-footnote__content {
		color: #EEF1E3;
	}
	.bigfoot-footnote__button:after,
	.bigfoot-footnote__button.is-active:after,
	.bigfoot-footnote__button:hover:after {
		color: #EEF1E3;
	}
}