#content,
html,
main {
	background-color: rgb(243, 185, 79);
}
.review-page article {
	background-color: rgba(242, 228, 189, 0.95);
}

menu {
	background-color: rgba(243, 185, 79, 0.95);
}
.safari menu,
.chrome menu {
	background-color: rgba(248, 249, 250, 0.25);
}

a {
	font-weight: 400;
}

main,
.review-page article {
	color: rgb(21, 12, 9);
}
article header h1 span {
	color: rgb(21, 12, 9);
}
article header h1 time {
	color: rgb(186, 64, 49);
}

hr {
	background-color: hsla(75, 39%, 26%, 0.75);
	background: hsla(75, 39%, 26%, 0.75);
}

menu ul li a:link,
menu ul li a:visited,
#logo span {
	color: rgb(21, 12, 9);
}

/* Safari */
::selection {
	background: hsl(75, 39%, 26%);
}
/* Firefox */
::-moz-selection {
	background: hsl(75, 39%, 26%);
}

a, a:link, a:visited {
	color: hsl(7, 58%, 46%);
}
a:hover {
	color: hsl(75, 39%, 26%);
}
menu ul li a:hover,
#logo:hover span {
	color: hsl(75, 39%, 26%);
}

#logo:hover .record .loud-grooves {
	stroke: hsl(75, 39%, 22%);
	fill: hsl(75, 39%, 26%);
}
#logo:hover .record .quiet-grooves {
	fill: hsl(75, 39%, 24%);
}
#logo:hover .record .flat-grooves {
	fill: hsl(75, 39%, 22%);
}
#logo:hover .record .runout {
	stroke: hsl(75, 39%, 22%);
}
#logo .label {
	fill: hsl(20, 82%, 59%);
}
#logo:hover .label {
	fill: rgba(0, 0, 0, 0);
}