html {
	background-color: #5D5D42;
	background-position: right;
}
menu {
	background-color: hsla(30, 25%, 98%, 0.95)
}
@supports ((-webkit-backdrop-filter: saturate(180%) blur(20px)) or (backdrop-filter: saturate(180%) blur(20px))) {
	menu {
		background-color: hsla(30, 25%, 98%, 0.95)
	}
}
.review-page article {
	background-color: #EFF0EE;
}
#logo .record .loud-grooves {
	stroke: hsl(210, 7%, 18%);
	fill: hsl(210, 7%, 22%);
}
#logo .record .quiet-grooves {
	fill: hsl(210, 7%, 20%);
}
#logo .record .flat-grooves {
	fill: hsl(210, 7%, 18%);
}
#logo .record .runout {
	stroke: hsl(210, 7%, 18%);
}

::selection {
	background: hsla(101, 43%, 22%, 0.99);
	color: white;
}
::-moz-selection {
	background: hsla(101, 43%, 22%, 0.99);
	color: white;
}

a, a:link, a:visited,
menu ul li a:hover,
#logo:hover span {
	color: #DF161B;
}
.rss {
	fill: rgba(33, 37, 41, 0.9);
}
menu a:hover .rss {
	fill: #DF161B;
}
a:hover {
	color: hsl(9, 96%, 70%);
}
#logo:hover .record .loud-grooves {
	stroke: hsl(359, 82%, 44%);
	fill: hsl(359, 82%, 48%);
}
#logo:hover .record .quiet-grooves {
	fill: hsl(359, 82%, 46%);
}
#logo:hover .record .flat-grooves {
	fill: hsl(359, 82%, 44%);
}
#logo:hover .record .runout {
	stroke: hsl(359, 82%, 44%);
}
#logo .label {
	fill: #DF161B;
}
#logo:hover .label {
	fill: rgba(0,0,0,0);
}
.bigfoot-footnote__button,
.bigfoot-footnote__button:link,
.bigfoot-footnote__button:visited {
	background-color: #DF161B;
}
.bigfoot-footnote__button:hover,
.bigfoot-footnote__button:focus,
.bigfoot-footnote__button:active,
.bigfoot-footnote__button.is-active {
	background-color: hsl(9, 96%, 70%);
}
.bigfoot-footnote__button:after,
.bigfoot-footnote__button.is-active:after,
.bigfoot-footnote__button:hover:after {
	color: #EFF0EE;
}
@media (prefers-color-scheme: dark) {
	html {
		background-color: #201A15;
	}
	.review-page article {
		color: #EFF0EE;
		background-color: hsla(27, 21%, 10%, 0.8);
	}
	menu {
		background-color: hsla(27, 21%, 10%, 0.95);
	}
	@supports ((-webkit-backdrop-filter: saturate(180%) blur(20px)) or (backdrop-filter: saturate(180%) blur(20px))) {
		menu {
			background-color: hsla(27, 21%, 10%, 0.95);
		}
	}
	article header h1 span,
	h2 {
		color: #D3C6B5;
	}
	article header h1 time {
		color: hsla(34, 25%, 77%, 0.375);
	}
	.bigfoot-footnote__button,
	.bigfoot-footnote__button:link,
	.bigfoot-footnote__button:visited {
		background-color: #DF161B;
	}
	.bigfoot-footnote__button:hover,
	.bigfoot-footnote__button:focus,
	.bigfoot-footnote__button:active,
	.bigfoot-footnote__button.is-active {
		background-color: hsl(9, 96%, 70%);
	}
	.bigfoot-footnote__tooltip {
		background-color: hsla(27, 21%, 15%, 0.8);
		border: 1px solid #38332E;
	}
	.bigfoot-footnote,
	.bigfoot-footnote__wrapper {
		background-color: #38332E;
	}
	.bigfoot-footnote__tooltip,
	.bigfoot-footnote__wrapper,
	.bigfoot-footnote__content {
		background-color: hsla(27, 21%, 15%, 0.8);
	}
	.bigfoot-footnote__content {
		color: #EFF0EE;
	}
	.bigfoot-footnote__content a {
		color: #DF161B;
	}
	.bigfoot-footnote__content a:hover {
		color: hsl(9, 96%, 70%);
	}
	.bigfoot-footnote__button:after,
	.bigfoot-footnote__button.is-active:after,
	.bigfoot-footnote__button:hover:after {
		color: #EFF0EE;
	}
	menu ul li a:link,
	menu ul li a:visited,
	#logo span {
		color: #D3C6B5;
	}
	menu ul li a:hover {
		color: #DF161B;
	}
	.rss {
		fill: #D3C6B5;
	}
	menu a:hover .rss {
		fill: #DF161B;
	}
	#logo .record .loud-grooves {
		stroke: hsl(34, 25%, 73%);
		fill: hsl(34, 25%, 77%);
	}
	#logo .record .quiet-grooves {
		fill: hsl(34, 25%, 75%);
	}
	#logo .record .flat-grooves {
		fill: hsl(34, 25%, 73%);
	}
	#logo .record .runout {
		stroke: hsl(34, 25%, 73%);
	}
}