html {
	background-color: #AD8642;
}
.review-page article {
	background-color: hsla(38, 45%, 95%, 0.75);
}

/* Safari */
::selection {
	background: hsla(38, 45%, 47%, 0.99);
}
/* Firefox */
::-moz-selection {
	background: hsla(38, 45%, 47%, 0.99);
}

.review-page article a {
	text-decoration: underline;
}
a, a:link, a:visited {
	color: #AD8642;
}
menu ul li a:link,
menu ul li a:visited,
#logo span {
	color: #CACCCE;
}
menu ul li a:hover,
#logo:hover span {
	color: #CACCCE;
}
#logo:hover span,
menu ul li a:hover {
	color: #1A2223;
}

#logo .record .loud-grooves {
	stroke: hsl(210, 4%, 80%);
	fill: hsl(210, 4%, 85%);
}
#logo .record .quiet-grooves {
	fill: hsl(210, 4%, 82%);
}
#logo .record .flat-grooves {
	fill: hsl(210, 4%, 80%);
}
#logo .record .runout {
	stroke: hsl(210, 4%, 80%);
}
#logo .label {
	fill: #2E3434;
}

#logo:hover .record .loud-grooves {
	stroke: hsl(187, 15%, 10%);
	fill: hsl(187, 15%, 12%);
}
#logo:hover .record .quiet-grooves {
	fill: hsl(187, 15%, 14%);
}
#logo:hover .record .flat-grooves {
	fill: hsl(187, 15%, 10%);
}
#logo:hover .record .runout {
	stroke: hsl(187, 15%, 10%);
}
#logo:hover .label {
	fill: rgba(0, 0, 0, 0);
}

a:hover {
	color: #C6AF82;
}
#listen-on-buttons .start {
	stop-color: #C6AF82;
}
#listen-on-buttons .stop {
	stop-color: #AD8642;
}

.bigfoot-footnote__button,
.bigfoot-footnote__button:link,
.bigfoot-footnote__button:visited {
	background-color: #C6AF82;
}
.bigfoot-footnote__button:hover,
.bigfoot-footnote__button:focus,
.bigfoot-footnote__button:active,
.bigfoot-footnote__button.is-active {
	background-color: #AD8642;
}

menu {
	background-color: hsla(38, 75%, 20%, 0.95);
}
.safari menu,
.chrome menu {
	background-color: hsla(38, 0%, 20%, 0.35);
}