html {
	background-color: #595D5F;
}
@media (prefers-color-scheme: dark) {
	html {
		background-color: #2A2C2C;
	}
}

/* Safari */
::selection {
	background: hsla(180, 6%, 19%, 0.9);
}
/* Firefox */
::-moz-selection {
	background: hsla(180, 6%, 19%, 0.9);
}

.review-page article a {
	text-decoration: underline;
}
a, a:link, a:visited {
	color: #2E3434;
}
menu ul li a:link,
menu ul li a:visited,
#logo span {
	color: white;
}
#logo:hover span,
menu ul li a:hover {
	color: #2E3434;
}
.rss {
	fill: white;
}
menu a:hover .rss {
	fill: #2E3434;
}

#logo .record .flat-grooves {
	fill: hsl(75, 100%, 97%);
}
#logo .record .runout {
	stroke: hsl(75, 100%, 97%);
}
#logo .record .loud-grooves {
	stroke: hsl(75, 100%, 97%);
	fill: hsl(75, 100%, 100%);
}
#logo .record .quiet-grooves {
	fill: hsl(75, 50%, 90%);
}
#logo .label {
	fill: #505556;
}

#logo:hover .record .loud-grooves {
	stroke: hsl(180, 6%, 14%);
	fill: hsl(180, 6%, 19%);
}
#logo:hover .record .quiet-grooves {
	fill: hsl(180, 6%, 16%);
}
#logo:hover .record .flat-grooves {
	fill: hsl(180, 6%, 14%);
}
#logo:hover .record .runout {
	stroke: hsl(180, 6%, 14%);
}
#logo:hover .label {
	fill: rgba(0, 0, 0, 0);
}

a:hover {
	color: #595D5F;
}
#listen-on-buttons .start {
	stop-color: #595D5F;
}
#listen-on-buttons .stop {
	stop-color: #2E3434;
}
@media (prefers-color-scheme: dark) {
	a, a:link, a:visited {
		color: hsl(180, 0%, 75%);
	}
	a:hover {
		color: hsl(180, 0%, 50%);
	}
	#listen-on-buttons .start {
		stop-color: hsl(180, 0%, 48%);
	}
	#listen-on-buttons .stop {
		stop-color: hsl(180, 0%, 35%);
	}
	#logo:hover span,
	menu ul li a:hover {
		color: #808080;
	}
	menu a:hover .rss {
		fill: #808080;
	}
	#logo:hover .record .flat-grooves {
		fill: hsl(0, 0%, 50%);
	}
	#logo:hover .record .runout {
		stroke: hsl(0, 0%, 50%);
	}
	#logo:hover .record .loud-grooves {
		stroke: hsl(0, 0%, 50%);
		fill: hsl(0, 0%, 55%);
	}
	#logo:hover .record .quiet-grooves {
		fill: hsl(0, 0%, 45%);
	}
}

.bigfoot-footnote__button,
.bigfoot-footnote__button:link,
.bigfoot-footnote__button:visited {
	background-color: #2E3434;
}
.bigfoot-footnote__button:hover,
.bigfoot-footnote__button:focus,
.bigfoot-footnote__button:active,
.bigfoot-footnote__button.is-active {
	background-color: #595D5F;
}

menu {
	background-color: rgba(89, 93, 95, 0.95);
}
@supports ((-webkit-backdrop-filter: saturate(180%) blur(20px)) or (backdrop-filter: saturate(180%) blur(20px))) {
	menu {
		background-color: rgba(89, 93, 95, 0.25);
	}
}