<!-- <div id="page-footer">
	<p id="page-footer-text">
		<span class="weak">Copyright &#169; <script>(function(){var x = document.getElementsByTagName('script');var y = x[x.length - 1];var z = document.createTextNode((new Date()).getFullYear());y.parentNode.insertBefore(z, y);})()</script> Marc & Michael Barrowclift <span class="hide-when-small">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span>
		<span class="show-when-small"><br></span>
		<span><a href="/feed.xml">RSS</a>&nbsp;&nbsp;<span class="weak">|</span>&nbsp;&nbsp;<a href="https://twitter.com/badmusichertz">Twitter</a></span>
	</p>
</div> -->