---
layout: default
---
<div style="display:block;">
	<a href="/images/album-art/{{ page.album-name }}/large.jpg" {% if page.album-art-hidden-text %}title="{{page.album-art-hidden-text}}"{% endif %}>
		<img src="/images/album-art/{{ page.album-name }}/post.jpg" class="album-art" {% if page.title %}alt="{{ page.title }}'s album art"{% else %}alt="The album's cover"{% endif %} />
	</a>
</div>
<article>
	<header role="header">
		<h1>
			<span>{{ page.title }}</span>
			<time itemprop="dateCreated">Review by {{ page.author }}<br>{{ page.date | date: "%A, %B %-d, %Y" }}</time>
		</h1>
	</header>
	{{ content }}
</article>