---
layout: default
wide-page: true
anchors: False
title: "Shelf"
---

<link rel="stylesheet" href="{{ site.baseurl }}/css/min/hint-1513123593.min.css" type="text/css" />
<h1>{{ page.title }}</h1>

<style>
	h1 {
		margin-top: 1.75em;
	}
	.tab-control {
		margin-bottom: 2.6em;
	}
	.tab {
		width: 31.5vw;
		display: inline-block;
		margin-left: -2px;
		margin-right: -2px;
		border-radius: 0em;
		background: linear-gradient(#fa5252, #e03131);
		cursor: pointer;
		margin-bottom: 0;
	}
	.tab:focus {
		outline: 0;
	}
	.tab.active {
		background: linear-gradient(#c92a2a, #f03e3e);
	}
	.shelf {
		transition: opacity 0.2s ease;
		position: absolute;
		left: 0;
		width: 100%;
	}
	.hidden {
		pointer-events: none;
		opacity: 0;
	}
		.tab.left {
			border-top-left-radius: 0.25em;
			border-bottom-left-radius: 0.25em;
		}
		.tab.right {
			border-top-right-radius: 0.25em;
			border-bottom-right-radius: 0.25em;
		}
	@media (min-width: 700px) {
		.tab {
			width: 13em;
		}
		.shelf {
			width: 95%;
		}
	}
</style>
<div class="tab-control">
	<button id="articles-tab" class="tab left" onclick="showTabView(event,'articles-view')">Article <span class="hide-when-small">Reviews</span></button>
	<button id="podcasts-tab" class="tab" onclick="showTabView(event,'podcasts-view')">Podcast <span class="hide-when-small">Reviews</span></button>
	<button id="specials-tab" class="tab right" onclick="showTabView(event, 'specials-view')">Specials</button>
</div>
<div>
	<div class="shelf archive" id="articles-view">
		<p style="text-align:center">
			{% for post in site.posts %}
			{% if post.layout == 'post' %}
			<span class="hint--top hint--rounded hint--bounce" data-hint="{{ post.title }}">
				<a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
					<img src="{{ site.dropbox-baseurl }}/{{ post.album-name }}/images/album-art-small.jpg" class="album-art">
				</a>
			</span>
			{% endif %}
			{% endfor %}
		</p>
	</div>

	<div class="shelf specials hidden" id="podcasts-view">
		<p style="text-align:center">
			{% for post in site.posts %}
			{% if post.layout == 'podcast' and post.categories contains "Album review" %}
			<span class="hint--top hint--rounded hint--bounce" data-hint="{{ post.title }}">
				<a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
					<img src="{{ site.dropbox-baseurl }}/{{ post.album-name }}/images/podcast-art-small.jpg" class="album-art">
				</a>
			</span>
			{% endif %}
			{% endfor %}
		</p>
	</div>

	<div class="shelf hidden" id="specials-view">
		<p style="text-align:center">
			{% for post in site.posts %}
			{% if post.categories contains "Special" %}
			<span class="hint--top hint--rounded hint--bounce" data-hint="{{ post.title }}">
				<a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
					<img src="{{ site.dropbox-baseurl }}/{{ post.album-name }}/images/podcast-art-small.jpg" class="album-art">
				</a>
			</span>
			{% endif %}
			{% endfor %}
		</p>
	</div>
</div>
<script>
	// https://www.w3schools.com/w3css/w3css_tabulators.asp
	function showTabView(evt, tabName) {
	    var i, x, tablinks;
	    x = document.getElementsByClassName("shelf");
	    for (i = 0; i < x.length; i++) {
	    	x[i].classList.add("hidden");
	    }
	    tablinks = document.getElementsByClassName("tab");
	    for (i = 0; i < x.length; i++) {
	        tablinks[i].classList.remove("active");
	    }
	    document.getElementById(tabName).classList.remove("hidden");
	    evt.currentTarget.classList.add("active");
	}
	document.getElementById("articles-tab").click();
</script>